-load formatters
doctype html
html(style='background:#f5f5f5')
  head
    include include/app_header.jade
  body
    //banner
    aside.ios-banner
      .swiper-container
        .swiper-wrapper
          for item in banner
            if item.link
              linkURL = item.link
            else
              linkURL = "javascript:void(0)"
            a(href="{{linkURL}}").swiper-slide
              img(data-src="/media/{{item.image}}", class="swiper-lazy")
              .swiper-lazy-help
        .swiper-pagination
    //activity item
    article.ios-main
      title 最新活动
      mixin item(url, imgUrl, title, explain, time, overdue)
        section.ac-item
          a(href=url)
            img(src=imgUrl).activity-img
            .item-text
              h4.item-h4=title
              p.item-explain=explain
              p.item-time=time
          if overdue == 'close'
            img(src='/static/imgs/app/discover/overdue.png').mask
      +item('/activity/app_gold/', '/static/imgs/app/discover/app_gold.png', '全民淘金季', '邀请好友获3‰的奖金，好友再邀请他人，同样获3‰的双重奖金。', '2015.06.23 至 2016.06.30', 'open')
      +item('/activity/app_eight_gift_two/', '/static/imgs/app/discover/discover_fengba.jpg', '逢八必发 第二季', '全场加息！投资最高1600元现金红包，多投多得，不限次数！', '2015.8.25 至 2015.8.29', 'close')
      +item('/activity/app_gold_day/', '/static/imgs/app/discover/discover_gold.jpg', '黄金节专享', '黄金实物抵押，人保承保，专享2月标，限时加息，抢购10天！', '2015.8.14 至 2015.8.24', 'close')
      +item('/activity/app_qixi/', '/static/imgs/app/discover/discover_qixi.jpg', '七夕有礼', 'APP端注册送10元现金红包；首次投资满1000元，送20元现金红包。', '2015.8.18 至 2015.8.21', 'close')
      +item('/activity/app_father/', '/static/imgs/app/discover/discover_4.png', '父亲节活动', '投资满500即送5元微信红包，最高可送5000元。投资满5000加送100元现金红包。', '2015.06.20 至 2015.06.26', 'close')

    // banner javascript
    script(src="/static/scripts/mobile/swiper/swiper.min.js")
    script.
      var myswiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          loop: true,
          lazyLoading: true,
          autoplay: 5000,
          autoplayDisableOnInteraction: true,
      });

