-load formatters
doctype html
html
  head
    include include/app_header.jade
  body
    article.secure-head
      .secure-head-explain
        p 专业风控
        p 安全升级
      .secure-head-img
    mixin secureItem(bgStyle, explainTit, explain2, explain3, fangxiang, explain4)
      article.secure-item(class=bgStyle)
        if fangxiang == 'imgleft'
          .secure-item-img
          .secure-item-explain
            h4=explainTit
            p=explain2
            p=explain3
            if explain4
              p=explain4
        else
          .secure-item-explain
            h4=explainTit
            p=explain2
            p=explain3
            if explain4
              p=explain4
          .secure-item-img
    +secureItem('buleLeft', '多业务模式', '业务综合完整', '帮助个人实现资产稳健增值', 'imgleft')
    +secureItem('greenRight', '资金安全', '多重身份认证', '阳光保险保障资金账户安全')
    +secureItem('orginLeft', '合作伙伴', '与第三方机构合作', '从源头防患风险', 'imgleft')
    +secureItem('brownRight', '信息保护', '银行级安全标准全站加密', '全面守卫账户信息安全')
    +secureItem('greenLeft', '风控手段', '金盾计划收购不良债权', '足额抵押物快速处置', 'imgleft')
    //+secureItem('blueRight', '风险准备金', '千万级别风险准备金', '借款逾期时', 'right', '风险准备金先行垫付')
    //+secureItem('writeNone')
