-load formatters
doctype html
html(style='background:#f5f5f5')
  head
    include include/app_header.jade
  body
    //banner
    aside.ios-banner
      .swiper-container
        .swiper-wrapper
          for item in banner
            if item.link
              linkURL = item.link
            else
              linkURL = "javascript:void(0)"
            a(href="{{linkURL}}").swiper-slide
              img(data-src="/media/{{item.image}}", class="swiper-lazy")
              .swiper-lazy-help
        .swiper-pagination
    //activity item
    article.ios-main
      title 最新活动
      mixin item(url, imgUrl, title, explain, time, overdue)
        section.ac-item
          a(href=url)
            img(src=imgUrl)
            .item-text
              h4.item-h4=title
              p.item-explain=explain
              p.item-time=time
          if not overdue
            .mask
      +item('/activity/app_father/', '/static/imgs/app/discover/discover_4.png', '父亲节活动', '投资满500即送5元微信红包，最高可送5000元。投资满5000加送100元现金红包。', '2015.06.20 至 2015.06.26', 'open')
      +item('/activity/app_level/', '/static/imgs/app/discover/discover_5.png', '财富擂台赛', '每日投资达3万，即可参加擂台赛，获得额外现金红包，最高1000元。', '2015.06.14 至 2015.07.15', 'open')

    // banner javascript
    script(src="/static/scripts/mobile/swiper/swiper.min.js")
    script.
      var myswiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          loop: true,
          lazyLoading: true,
          autoplay: 5000,
          autoplayDisableOnInteraction: true,
      });

