-load formatters
-load mathfilters
-load widget_tweaks

doctype html
html
  head
    title = p2p.name
    include include/common_head
    meta(name="keywords", content="网利宝")
    meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")

  body
    include include/header
    include include/navigation

    status = p2p.display_status
    .space-m
    .full-container-home.clearfix
      .p2p-container.dark-gray.border-all
        .span8.p2p-detail-container
          .p2p-detail-bar.clearfix
            .row
              .span9
                .p2p-detail-title.pull-left.text-overflow-hidden(title="{{p2p.name}}") {{p2p.name}}
              .span3-omega
                div.pull-right.p2p-warrant-way
                  span.icon-check-shield 第三方本息担保
          .p2p-detail-content.clearfix
            .row
              .span4
                p.dark-gray.font-xxl {{p2p.total_amount | money_format_int}}
                p 投资金额（元）
              .span5
                p.dark-gray
                  span.font-xxl {{p2p.period}}
                  span.font-xl 个月
                p 还款期限
              .span3-omega
                p.highlight
                  earning_rate = str(p2p.expected_earning_rate)
                  if p2p.excess_earning_rate > 0
                    earning_rate = str(p2p.expected_earning_rate - p2p.excess_earning_rate) + '+' + str(p2p.excess_earning_rate)
                  span.font-xxl {{earning_rate}}
                  span.font-xl %
                  if p2p.excess_earning_description
                    span.detail-icon(title="{{p2p.excess_earning_description}}")

                p 年化收益
          .p2p-detail-footer
            .row
              .span4
                |还款方式：
                span.dark-gray {{p2p.display_payback_method}}
              .span4
                span.pull-right 进度：
                  .progress-container
                    percent = float(p2p.ordered_amount) / p2p.total_amount * 100
                    .progress-indicator(style="width:{{percent | percentage}}")
                  span.highlight &nbsp;&nbsp; {{percent | percentage}}
              if status == '抢购中'
                .span4-omega.p2p-detail-endtime.align-right(data-role="countdown", data-left="{{p2p.end_time | timedelta_now}}", data-target="#countdown") 剩余：
                  span#countdown{{p2p.end_time | timedelta_now_day }}

          dl.p2p-detail-intro.clearfix
            dt 借款用途：
            dd {{p2p.short_usage}}

        .span4-omega.invest-form.border-left
          h1 我要投资
          if status == '抢购中'
            form#purchase-form
              {{form.product}}
              if current_equity > 0
                .row
                  span.span4 已投资金额
                  span.span8-omega
                    span.dark-gray.font-m {{current_equity|money_format_int}}元

              .row
                span.span4 可投资金额
                span.span8-omega
                  span.dark-gray.font-m {{orderable_amount|money_format_int}}元
              if orderable_amount > 0
                .form-row.form-row__middle
                  span.span4 投资金额
                  span.span8-omega
                    .row
                      period = p2p.period * 30
                      user_limit = u"100的整数倍"
                      -render_field form.amount class+="span12" type="text" placeholder=user_limit data-max=orderable_amount data-role="p2p-calculator" data-target="#expected_income" data-total-earning=total_earning data-total-amount=p2p.total_amount data-existing=0
                    .form-row-error
                .row
                  span.span4 预期收益
                  span.span8-omega
                    span.highlight.font-m.invest#expected_income 0.00
                    | 元
                .row
                  span.span4 手机验证码
                  .span4
                    input#validate_code.invest(type='text', name='validate_code', placeholder='验证码')
                  .span4-omega
                    if user.wanglibaouserprofile.phone
                      button#get-validate-code-buy.button-orange.button-middle.invest(type='button', data-phone="{{user.wanglibaouserprofile.phone}}") 获取验证码
                    else
                      button#get-validate-code-buy.button-orange.button-middle.disabled.invest(type='button', data-phone="{{user.wanglibaouserprofile.phone}}") 抢购请登录
                .row.margin-top-s
                  span.span4
                  span.span8-omega
                    a.submit-button.span12.button-primary.button-middle.invest(href='javascript:void(0)') 抢&nbsp;&nbsp;&nbsp;&nbsp;购
          if status != '抢购中'
            .sold-out
              p.align-center
                button.button-large.button-disabled(type="button")
                  span.font-xl {{status}}
              p.align-center.padding-s {{end_time|date:"m-d H:i:s"}} 完成
              p.font-s
                | 新的投资产品将在工作日
                span.highlight {{site_data.product_release_time}}
                | 固定时间发布，请查看网站<a href="/">首页</a>。

    .space-m
    .full-container-home.clearfix
      .p2p-container
        .span8.p2p-detail-container
          if p2p.extra_data
            r = p2p.extra_data.items()
            for section_name, section_values in r
              .p2p-detail-list.clearfix
                h1 {{section_name}}
                if user.is_authenticated
                  for item_name in section_values
                    dl
                      dt.span2.align-left {{item_name}}

                      item_value = section_values[item_name]
                      dd.span10-omega {{item_value|linebreaksbr}}
                else
                  .row
                    .span2
                      for item_name in section_values
                        dt {{item_name}}

                    .p2p-no-login
                      li
                        | 只有
                        a.register-modal.blue(href="#login-modal") 注册用户
                        |才能看到，现在
                        a.login-modal.blue(href="#login-modal") 登录

          if attachments and user.is_authenticated
            .p2p-detail-list.clearfix
              h1 相关文件

              for attachment in attachments
                .img-container
                  img(src="/media/{{attachment.file}}")
                  h2 {{attachment.name}}

        .span4-omega.border-left.clearfix
          .p2p-detail-container.guarantee-company
            h1 担保机构
            table
              caption {{p2p.warrant_company.name}}
              warrants = p2p.warrant_set.all()
              length = len(warrants)
              if length > 0
                tbody
                  for warrant in warrants
                    tr
                      td {{warrant.name}}
                      td
                        span
                        span.icon.icon-approve
                        | 已认证
              else
                if p2p.category == "证大速贷"
                  if "企业贷" in p2p.name
                    tbody
                      tr
                        td 身份证
                        td
                          span
                          span.icon.icon-approve
                          | 已认证
                      tr
                        td 信用报告
                        td
                          span
                          span.icon.icon-approve
                          | 已认证
                      tr
                        td 工作证明
                        td
                          span
                          span.icon.icon-approve
                          | 已认证
                      tr
                        td 收入证明
                        td
                          span
                          span.icon.icon-approve
                          | 已认证
                  if "工薪贷" in p2p.name
                    tbody
                      tr
                        td 身份证
                        td
                          span
                          span.icon.icon-approve
                          | 已认证
                      tr
                        td 信用报告
                        td
                          span
                          span.icon.icon-approve
                          | 已认证
                      tr
                        td 工作证明
                        td
                          span
                          span.icon.icon-approve
                          | 已认证
                      tr
                        td 收入证明
                        td
                          span
                          span.icon.icon-approve
                          | 已认证
          .clearfix
            .p2p-detail-container
              h1 投资记录
              table.invest-history-table
                thead
                  tr
                    th 申购时间
                    th 投资人
                    th 金额
                tbody
                  trade_records = p2p.p2precord_set.filter(catalog=u'申购')[:20]
                  for trade in trade_records
                    tr
                      td
                        p {{trade.create_time | date:"Y-m-d"}}
                      td
                        em {{trade.user | safe_phone}}
                      td
                        span.money-highlight {{trade.amount}}
                        span 元

    script.
      require(['/static/js/p2p_detail.js'])
    include include/footer
    include include/tracking
    include include/verify
