-load formatters
-load mathfilters
-load widget_tweaks

doctype html
html
  head
    title = p2p['name']
    include include/common_head
    meta(name="keywords", content="网利宝")
    meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")

  body
    include include/header
    include include/navigation

    include announcement_block

    status = p2p['display_status']
    .space-m
    .full-container-home
      .p2p-container.dark-gray.border-all
        .span8.p2p-detail-container
          if p2p.category == '新手标'
            .new-user 新手福利
          .p2p-detail-bar.clearfix
            .row
              .span9
                .p2p-detail-title.pull-left.text-overflow-hidden(title="{{p2p.name}}") {{p2p.name}}
                if p2p.category == '证大速贷'
                  span.tip 满标后持满180天即可债权转让
              .span3-omega
                div.pull-right.p2p-warrant-way
                  if p2p.category != '票据'
                    span.icon-check-shield
                    a(href="/security/", target="_blank") 第三方本息保障
          .p2p-detail-content
            .row
              .span4
                p.dark-gray.font-xxl {{p2p.total_amount | money_format_int}}
                p 投资金额（元）
              .span5
                p.dark-gray
                  span.font-xxl {{p2p.period}}
                  span.font-xl {{p2p.pay_method|period_unit}}
                p 还款期限
              .span3-omega
                p.highlight
                  earning_rate = str(p2p['expected_earning_rate'])
                  span.font-xxl {{earning_rate}}
                  span.font-xl %
                  if p2p.activity
                    em.font-xxl +
                    span.xunlei-vip-rate-detail(title="{{p2p.activity.activity_name}}") {{p2p.activity.activity_rule_percent_text}}
                      span.font-xl %
                      span.xunlei-vip-tip-detail(title="{{p2p.activity.activity_name}}") {{p2p.activity.activity_name}}
                p 年化收益
          .p2p-detail-footer
            if p2p.category == '新手标'
              if not user.is_authenticated
                include include/new_user_desc
              elif user.is_authenticated and not is_invested
                include include/new_user_desc
            .row
              .span4
                |还款方式：
                span.dark-gray {{p2p.display_payback_method}}
              .span4
                span.pull-right 进度：
                  .progress-container
                    percent = float(p2p['ordered_amount']) / p2p['total_amount'] * 100
                    .progress-indicator(style="width:{{percent | percentage}}")
                  span.highlight &nbsp;&nbsp; {{percent | percentage}}
              if status == '抢购中'
                .span4-omega.p2p-detail-endtime.align-right(data-role="countdown", data-left="{{end_time | timedelta_now}}", data-target="#countdown") 剩余：
                  span#countdown {{ end_time | timedelta_now_day }}

          dl.p2p-detail-intro.clearfix
            dt 借款描述：
            dd {% autoescape off %}{{p2p.short_usage}}{% endautoescape %}
            if p2p.category == '证大速贷'
              dt 债权转让：
              dd 选择“债权转让”后，即可提前赎回未到期债权，但您需承担提前赎回本金0-5%不等的年化收益率折让费（由提前赎回投资人自行设置），折让费将转给下一个接收投资人，投资人相应权利义务同时转移。

        .span4-omega.invest-form.border-left
          if user.is_authenticated
            h1 我要投资<span class="detail-margin">（余额：{{user.margin.margin}}元 <a href="/pay/banks">充值</a>）</span>
          else
            h1 我要投资
          if status == '抢购中'
            if user.is_authenticated and p2p.category == '新手标' and is_invested
              include include/new_user_purchase
            else
              form#purchase-form
                {{form.product}}
                if current_equity > 0
                  .row
                    span.span4 已投资金额
                    span.span8-omega
                      span.dark-gray.font-m {{current_equity|money_format_int}}元

                .row
                  span.span4 可投资金额
                  span.span8-omega
                    span.dark-gray.font-m {{orderable_amount|money_format_int}}元
                if orderable_amount > 0
                  .form-row.form-row__middle
                    span.span4 投资金额
                    span.span8-omega
                      .row
                        period = p2p['period'] * 30
                        if p2p.category == '票据'
                          user_limit = u"1元起投"
                        else
                          user_limit = u"100的整数倍"
                        -render_field form.amount class+="span12" type="text" style="line-height:40px" placeholder=user_limit p2p-type=p2p.category data-max=orderable_amount data-role="p2p-calculator" fee-target="#xunlei-vip-income-head" data-target="#expected_income" data-total-earning=total_earning data-total-amount=p2p.total_amount data-existing=0 total-fee-earning=total_fee_earning data-rate=p2p.expected_earning_rate data-period=p2p.period data-paymethod=p2p.pay_method activity-rate=p2p.activity.activity_rule_percent_text maxlength="8"
                      .form-row-error

                  if user.is_authenticated and red_packets > 0
                    .row.margin-top-s
                      span.span4 可用红包
                      span.span8-omega
                        .red-pack

                  .row
                    span.span4 预期收益
                    span.span8-omega
                      span.highlight.font-m.invest#expected_income 0.00
                      | 元
                      if p2p.activity
                        if user.is_authenticated
                          //if xunlei_vip.isvip == True
                          span.font-m +&nbsp;
                          span.blue.font-m#xunlei-vip-income-head 0.00

                  .row.redpack_tip(style="line-height:24px")
                    span.span12.payment(style="padding-left:24px;display:none")
                      红包使用200元,实际支付2元
                  .row
                    span.span4
                      //author: hetao; time: 2014.10.11 target: 用户未登陆时先弹出登陆框
                    span.span8-omega
                      if user.is_authenticated
                        a.submit-button.span12.button-primary.button-middle.invest#stop(href='javascript:void(0)') 抢&nbsp;&nbsp;&nbsp;&nbsp;购
                      else
                        a.span12.button-primary.button-middle.invest(href='/accounts/login/?next=/p2p/detail/{{p2p.id}}') 抢&nbsp;&nbsp;&nbsp;&nbsp;购
          if status != '抢购中'
            .sold-out
              p.align-center
                button.button-large.button-disabled(type="button")
                  span.font-xl {{status}}
              p.align-center.padding-s {{end_time|date:"m-d H:i:s"}} 完成
              p.font-s
                | 新的投资产品将在工作日11点左右发布，到时请查看网站<a href="/">首页</a>。

    .space-m
    .full-container-home.clearfix
      .p2p-container
        .span8.p2p-detail-container
          if p2p.extra_data
            r = p2p['extra_data'].items()
            for section_name, section_values in r
              .p2p-detail-list.clearfix
                h1 {{section_name}}
                for item_name in section_values
                  dl
                    dt.span2.align-left {{item_name}}
                    item_value = section_values[item_name]
                    dd.span10-omega {{item_value|linebreaksbr}}

          .p2p-detail-list.clearfix
            h1 相关文件
            for attachment in p2p.attachments
              .img-container
                img(src="/media/{{attachment.file}}")
                h2 {{attachment.name}}

          include include/bill_note

        .span4-omega.border-left.clearfix
          if is_valid
            .tops-container.border-no
                .panel-title-bar__border-gray
                  .panel-title 网利榜
                .panel-content-container
                  .tabs
                    .tabs-nav
                      ul
                        li
                          a(href="#day") 日排行
                        li
                          a(href="#week").active 周排行
                        li
                          a(href="#month") 月排行
                    .tabs-content
                      .tab-content#day

                        table
                          for day in day_tops
                            if forloop.counter < 4
                              tr.tops-three
                                td
                                  .order {{forloop.counter}}
                                td
                                  .phone {{day.phone | safe_phone_new}}
                                td
                                  .amount-sum ￥{{day.amount_sum|money_format_int}}
                            else
                              tr
                                td
                                  .order {{forloop.counter}}
                                td
                                  .phone {{day.phone | safe_phone_new}}
                                td
                                  .amount-sum ￥{{day.amount_sum|money_format_int}}

                      .tab-content#week
                        table
                          for week in week_tops
                            if forloop.counter < 4
                              tr.tops-three
                                td
                                  .order {{forloop.counter}}
                                td
                                  .phone {{week.phone | safe_phone_new}}
                                td
                                  .amount-sum ￥{{week.amount_sum|money_format_int}}
                            else
                              tr
                                td
                                  .order {{forloop.counter}}
                                td
                                  .phone {{week.phone | safe_phone_new}}
                                td
                                  .amount-sum ￥{{week.amount_sum|money_format_int}}

                      .tab-content#month
                        table
                          for month in all_tops
                            if forloop.counter < 4
                              tr.tops-three
                                td
                                  .order {{forloop.counter}}
                                td
                                  .phone {{month.phone | safe_phone_new}}
                                td
                                  .amount-sum ￥{{month.amount_sum|money_format_int}}
                            else
                              tr
                                td
                                  .order {{forloop.counter}}
                                td
                                  .phone {{month.phone | safe_phone_new}}
                                td
                                  .amount-sum ￥{{month.amount_sum|money_format_int}}
            else
              .panel_top_finish_detail
                a(href="http://www.bj.xinhuanet.com/hbpd/jrpd/jrpd/2015-05/07/c_1115211539.htm", target="_blank")

            if p2p.category != "票据"
              .p2p-detail-container.guarantee-company
                h1 合作机构审核清单
                table
                  if p2p.warrants
                    caption {{p2p.warrant_company_name}}
                    tbody
                        for warrant in p2p.warrants
                          tr
                            td {{warrant.name}}
                            td
                              span
                              span.icon.icon-approve
                              | 认证通过
                  else
                    caption.nowarrant {{p2p.warrant_company_name}}
                    if p2p.category == "证大速贷"
                      tbody
                        tr
                          td 身份证
                          td
                            span
                            span.icon.icon-approve
                            | 认证通过
                        tr
                          td 信用报告
                          td
                            span
                            span.icon.icon-approve
                            | 认证通过
                        tr
                          td 工作证明
                          td
                            span
                            span.icon.icon-approve
                            | 认证通过
                        tr
                          td 收入证明
                          td
                            span
                            span.icon.icon-approve
                            | 认证通过
          .clearfix
            .p2p-detail-container
              script.
                var invest_result = [];

              h1 投资记录
              table.invest-history-table
                colgroup
                  col(width="35%")
                  col(width="30%")
                  col(width="35%")
                thead
                  tr
                    th 申购时间
                    th 投资人
                    th 金额
                tbody
                  for trade in p2p_invest_records
                    tr
                      td
                        p {{trade.create_time | date:"Y-m-d"}}
                      td
                        em {{trade.user | safe_phone}}
                      td.invest-num
                        span.money-highlight {{trade.amount|money_format_int}}
                          span 元


              if p2p_invest_records > 30
                .row
                  a.get-more(href="#", data-product="{{p2p.id}}") 查看更多

    .space-vertical-sm
    if p2p.activity
      if user.is_authenticated and not xunlei_vip.isvip
        #xunlei-binding-modal(style="display:none;")
          .modal-header
            .modal-title-bar
              .modal-title 绑定迅雷会员
          .modal-body
            .modal-content-padding
              p.align-center
                img(src="/static/images/activity/xunlei_wanglibao.png")
              ul.clearfix
                li &bull; 绑定迅雷会员后，投资指定P2P产品，即可额外获得
                  span.blue {{p2p.activity.rule.percent_text}}%
                  |年化收益！
                li &bull; 奖励收益将在满标后2个工作日内发放。
              .space-vertical-l
              .row
                .span7
                  a.button.button-account(href='/accounts/login/xunlei', target="_blank")
                    span.font-s.padding-l-r-m 立即绑定迅雷会员
                .span5-omega.padding-top-xs.align-center.font-s
                  span 我还不是会员，
                  a.blue(href="http://act.vip.xunlei.com/vip/2014/xlhyk/?referfrom=wlb", target="_blank") 立即开通
            .space-vertical-s

    script.
      var v = new Date().getTime()
      require(['/static/js/p2p_detail.js?v='+v, '/static/js/index.js?v='+v])
    include include/footer
    include include/tracking
    include include/verify
