doctype html
html(style='background:#fff;')
  head
    include include/weixin_head.jade
  body
    a(name='top')
    img(src='/static/imgs/mobile/channel_register/banner.jpg').channel-banner
    .channel-form
      .cl-input-line

      .cl-input
        .cl-icon.icon-phone
        input(type='tel', name='identifier', placeholder= '请输入手机号', autocomplete='off').cl-input-body

      .cl-input-line

      .cl-input
        .cl-icon.icon-math
        input(type='tel', name='captcha_1', placeholder= '请输入计算结果',data-other='validation', autocomplete='off').cl-input-body
        input(type='hidden', name='captcha_0')
        .captcha-warp
          img(src="", alt="", width="100%", height="100%")#captcha

      .cl-input-line

      .cl-input
        .cl-icon.icon-code
        input(type='tel', name='validate_code', placeholder= '请输入验证码', autocomplete='off').cl-input-body
        button(type="button",name='validate_operation').validation 获取验证码

      .cl-input-line

      .cl-input
        .cl-icon.icon-psw
        input(type='password', name='password', placeholder= '请设置密码', autocomplete='off').cl-input-body

      .cl-input-line

      .cl-input
        .cl-icon.icon-token
        input(type='text', name='invite_code', placeholder= '请填写邀请码，若无，请忽略', autocomplete='off').cl-input-body
        input(type="hidden", name="token", id="token", value="{{token}}")
      .cl-input-line

    .regist-safe
      span 账户资金安全由阳光保险承保
    .padding-warp-small
      .channel-submit
        button(type="submit", disabled=true) 立即注册 ｜ 领取奖励

      section.regist-protocol-n.channel-protocol
        span.checkbox.agreement#agreement
          input(type='checkbox',name='agreement', checked=true)
        span.xieyi-btn 同意网利宝注册协议
        a(href="/weixin/login/").regist-for-login 立即登录
    .channel-title-warp
      .channel-list-title 稳健收益赢信任

    .profit-num-layout
      .profit-people
        .profit-people-icon.profit-icon
        .profit-people-num.profit-text
          if site_data
            people_num = str(site_data['p2p_register_number'])
            people_len = len(people_num)
            people_str = '万'
            if people_len > 4
              people = people_num[0: -4]
            else
              people = people_num
              people_str = '人'
            span.blue {{people}}
            |{{people_str}}智慧投资人选择

      .profit-money
        .profit-money-icon.profit-icon
        .profit-money-num.profit-text
          if site_data
            money_num = str(int(site_data['p2p_amount']))
            money_len  = len(money_num)

            |共投资
            if money_len > 8
              million = money_num[0: -8]
              span.blue {{million}}
              |亿
            if money_len > 4
              wan = money_num[-8: -4]
              span.blue {{wan}}
              |万
    .channel-title-warp
      .channel-list-title 优质产品选择多

    .channer-profit-layout
      .profit-layout-main
        .profit-layout-head 定期理财
        .profit-layout-cont
          .cont-num
            span.num 7.5
            i.per %
            span.line
            span.num 13
            i.per %
          .cont-dec 年化收益

    .channel-title-warp
      .channel-list-title.title-margin-none 保驾护航担忧少

    .padding-warp-small
      section.channel-propagate
        ul
          mixin li(imgName, title, bodyTxt1, bodyTxt2)
            li
              span(class=imgName)
              h4=title
              p=bodyTxt1
              p=bodyTxt2
          +li('pro-believe', '信赖', 'IDG资本A轮投资', '足额抵押物保障')
          +li('pro-authority', '权威', 'A股百亿上市公司', '鸿利光电投资入股')
          +li('pro-safe', '安全', '账户资金安全', '由阳光保险承保')
          +li('pro-finance', '高收益', '37倍银行活期收益', '100元起投0手续')

    .padding-warp-small
      .channel-goback
        a(href='#top') 注册享惊喜
      .channel-logo
        img(src='/static/imgs/mobile/channel_register/logo.png')
    //协议内容
    section.regist-protocol-div
      header.xieyi-head
        hgroup 注册协议
        a(href="javascript:void(0)").cancel-xiyie
          span 返回
      article.xieyi-cont
        include include/weixin_xieyiFixed
    include include/ui_model/mobile_errorsign
    include include/ui_model/mobile_alert
    //include include/tracking
    script(src='/static/scripts/mobile/pro/vendor.zepto.js?v=201604025')
    script(src='/static/scripts/mobile/pro/channel_register.js?v=201604025')