- load formatters
doctype html
html(style="background:#efeff4")
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 网利宝
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        script.
            (function(){var b=navigator.userAgent;ipad=b.match(/(iPad).*OS\s([\d_]+)/)?true:false;iphone=!ipad&&b.match(/(iPhone\sOS)\s([\d_]+)/)?true:false;uc=navigator.userAgent.indexOf("UCBrowser")>-1?true:false;ios=ipad||iphone;var d=1,a=1,c;if(ios){if(window.devicePixelRatio>=2){d*=0.5;a*=2}}else{if(uc){if(window.devicePixelRatio>=2){d*=0.5;a*=2}}}c='<meta name="viewport" content="initial-scale='+d+", maximum-scale="+d+", minimum-scale="+d+', width=device-width, user-scalable=no" />';document.write(c);document.documentElement.style.fontSize=20*a+"px"})();
        link(href="/static/styles/app/webview.css?v=20151113", rel="stylesheet")
        body
            .account
                .account_top
                    .asset_content
                        .asset
                            p.asset_title 体验金总资产(元)
                            p.asset_count {{total_experience_amount | money_format}}
                        .asset
                            p.asset_title 体验金余额(元)
                            p.asset_count {{experience_amount | money_format}}
                    .income_content
                        .asset.border_right
                            p.asset_title 到账收益(元)
                            p.asset_count {{paid_interest | money_format}}
                        .asset
                            p.asset_title 待收收益(元)
                            p.asset_count {{unpaid_interest | money_format}}
            .markTitle
                a(href='/activity/experience/explain/',target='_blank')
                    i
                    span 体验金获取及使用说明
            .account_list
                section.project_box
                    .transaction_list.mb1
                        .transaction_tit
                            .tit_name
                                .tit_name_div &nbsp&nbsp
                                | {{product.name}}
                        .transaction_cont
                            .cont_money
                                if experience_amount == 0
                                    p 28,888元
                                else
                                    p {{experience_amount}}
                                p 投资金额（元）
                            .cont_money.cont_money_center
                                p {{product.expected_earning_rate}}%
                                p 年化收益
                            .cont_money
                                p {{product.period}}
                                p 投资期限（天）
                        if experience_amount > 0
                            .investment_btn.accountInvestBtn 立即投资
                        else
                            .investment_btn.accountInvestBtn 立即投资
            if user.is_authenticated and experience_amortization
              .account_list.investment_list
                section.project_box
                  for amo in experience_amortization
                    .transaction_list
                      .transaction_tit
                          .tit_name
                              .tit_name_div &nbsp&nbsp
                              | {{amo.product.name}}
                          .icon
                              i
                              em {{amo.product.period}}天
                          .tit_time {{amo.created_time}}
                      .transaction_cont
                          .cont_money
                              p {{amo.principal | money_format_int}}
                              p 投资金额（元）
                          .cont_money.cont_money_center
                            if amo.settled
                              p {{amo.interest}}
                            else
                              p 0.00
                            p 已收金额（元）
                          .cont_money
                            if not amo.settled
                              p {{amo.interest}}
                            else
                              p 0.00
                            p 待收金额（元）
            else
              //没有数据显示列表
              .account_no_list
                p
                  img(src='/static/imgs/mobile_activity/app_experience/no_data.png')
                p 你还没有投资过体验项目
                p 如果您通过注册或活动领取体验金
                p 赶快点击右上角投资赚取收益吧
        script(data-init="experience",src="/static/scripts/mobile_activity/account_experience.js?v=123456")