title 网利宝
meta(charset="utf-8")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(name="apple-itunes-app", content="app-id=881326898")
meta(content="telephone=no,email=no" ,name="format-detection")
meta(id='viewMeta', name="viewport", content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no")
script.
  eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('(E(){4 b=j.B;3=b.e(/(n).*r\\s([\\f]+)/)?!0:!1;8=!3&&b.e(/(v\\A)\\s([\\f]+)/)?!0:!1;9=3||8;4 a;i(9&&2<=k.l){a=.5;b=2;a=\'<m h="o" p="q-6=\'+a+", t-6="+a+", u-6="+a+\', g=w-g, x-y=z" />\';4 c=7.C("D"),d=c.F;d&&d.G(c);7.H(a);7.I.J.K=L*b+"M"}})();',49,49,'|||ipad|var||scale|document|iphone|ios|||||match|d_|width|name|if|navigator|window|devicePixelRatio|meta|iPad|viewport|content|initial|OS||maximum|minimum|iPhone|device|user|scalable|no|sOS|userAgent|getElementById|viewMeta|function|parentNode|removeChild|write|documentElement|style|fontSize|20|px'.split('|'),0,{}))

link(href="/static/styles/mobile/mobile.css?v=20160516", rel="stylesheet")
if not rogue
  script(src='/static/scripts/mobile/fast/rogue.js')
  script.
    if("addEventListener" in document){document.addEventListener("DOMContentLoaded",function(){var a=Origami.fastclick;a(document.body)},false)};
- csrf_token

