-load formatters
-load mathfilters

doctype html
html
  head
    - with '网利宝官网_p2p理财_p2p网贷_值得信赖的互联网金融服务平台_网利宝' as title
    include global/g_head
    - endwith
    meta(name="keywords", content="网利宝,网利宝官网,p2p金融,p2p理财,p2p网贷,P2p贷款,p2p平台,P2P网贷平台,互联网金融")
    meta(name="description", content="网利宝（www.wanglibao.com）是中国领先的互联网金融p2p理财、p2p网贷平台，网利宝官网提供安全、精准的网贷平台投资及互联网金融服务，大型机构100%本息担保，保障投资人资金安全，P2P投资理财网贷客户首选的互联网金融平台。")
  body
    - with '首页' as activeItem
    include global/g_nav
    - endwith

    include global/g_banner

    .i-mod-wrap.mg-t-sm
      .i-mod-exhibition
        .ex-lf-cont
          .ex-intro
            mixin intro(icon, head, cont1, cont2, cont3)
              .intro-item
                i.iconfont.icon.t-d16(class=icon)
                .item-text
                  h4=head
                  p.t-d4=cont1
                  p.t-d4=cont2
                  if cont3
                    p.t-d4=cont3
            +intro('icon-rocket', '好收益 低门槛', '累计发放收益1.4亿+', '100元起投')
            +intro('icon-safe', '风险控制', '抵押、质押或保证担保', '阳光保险承保账户资金安全')
            +intro('icon-authority', '专业权威', '华尔街精英金融团队', 'IT数据风控系统', '第三方专业征信')
          for product in recommend_product
            if product.category ==  "新手标"
              invest = 'ac-targer-uninvest'
            else
              invest = 'ac-targer-recommend'
            .ex-ac-target.mg-t-sm.bg-d3(class=invest)
              .ac-tg-head.span12
                if product.category == "新手标"
                  h3.hd-name.fl 新手专属标
                else
                  h3.hd-name.fl 精选推荐
                .hd-time.fr
                  span.recommend_time(data-update='{{product.end_time}}')
              .ac-tg-cont
                a(href='/p2p/detail/{{product.id}}/').font-m.t-d10.tg-pro-tit
                    if product.is_app_exclusive
                        span.font-l
                            em.app-icon
                    |{{product.short_name}}
                .t-d7.ac-style
                  span.mg-r-xl 合作机构：{{product.warrant_company}}
                  span 还款方式：{{product.display_payback_method}}
                .product-progress-warp.clearfix
                  .product-progress.product-target-progress.progress-xl.fl
                    percent = float(product.ordered_amount) / product.total_amount * 100
                    .pro-container(style="width:{{percent | percentage}}")
                  .pdt-progress-percent.t-d7.fl {{percent | percentage}}
                .ac-tg-row.clearfix
                  .tg-list.profit-amount
                    total_amount = product.total_amount / 10000.0
                    span.t-d5.font-xll {{total_amount}}
                      span.font-m 万
                    .t-d7.tg-bt-text 融资金额

                  .tg-list.profit-warp
                    earning_rate = str(product.expected_earning_rate)
                    .t-d2.font-m.tc
                      span.font-xll {{earning_rate}}
                      if product.activity
                        span +
                        span.font-xll {{product.activity.rule.percent_text}}
                      span %
                    .t-d7.tg-bt-text.tc 年化收益
                  .tg-list.profit-date
                    span.t-d5.font-xll {{product.period}}
                      span.font-m {{product.pay_method|period_unit}}
                    .t-d7.tg-bt-text 项目期限
                  .fr.buy-warp
                    span.buy-text-r
                      if product.display_status == '抢购中'
                        status = '立即投资'
                        statusClass = 'buy-btn-xl'
                      else
                        status = product.display_status
                        statusClass = 'un-buy-btn-xl'
                      a(href="/p2p/detail/{{product.id}}/", class='{{statusClass}}') {{status}}
                      amount = product.total_amount - product.ordered_amount
                      .t-d7.tg-bt-text 剩余金额 ￥ {{amount | money_format_int}}元
              .ac-tg-bg

        .ex-rt-cont
          .ex-dc.padding-l-r-sm
            .dc-head
              .dc-title.font-l
                i.icon.iconfont.icon-data
                a(href='/data_cube/',target="_blank") 数据统计
              .dc-time.t-d7.fr 截至 {{site_data.updated_at | milldate_format}}
            .ex-data
              ul
                li
                  i.icon.iconfont.icon-data-user
                  | 已有
                  span.num-space(data-number='{{site_data.p2p_register_number}}', data-type='man')
                  | 小伙伴选择了网利宝
                li
                  i.icon.iconfont.icon-data-invest
                  span 小伙伴们共投资
                  span.num-space(data-number='{{site_data.p2p_amount}}',data-type='amount')
                li
                  i.icon.iconfont.icon-data-makemoney
                  | 小伙伴们昨日共投资
                  span.num-space(data-number='{{site_data.p2p_amount_yesterday}}',data-type='amount')
          .ex-download-app.mg-t-sm.padding-sm
            img(src='/static/imgs/pc/home/www_erweima.jpg', alt='p2p金融').dol-app.mg-r-sm.fl
            .dol-btn.fl
              .t-d4 网利宝APP-随时随地 让钱生钱
              a(href='https://www.wanglibao.com/static/wanglibao1.apk').dol-btn-warp
                .span3.android-icon.bg-d8.t-d6
                  i.icon.iconfont.icon-android
                .span9.btn-text.bg-d7.font-s.t-d11 Android版下载
              a(href='https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8').dol-btn-warp
                .span3.android-icon.bg-d9.t-d6
                  i.icon.iconfont.icon-ios
                .span9.btn-text.bg-d7.font-s.t-d11 iPhone版下载
    //product start
    .i-mod-wrap.mg-t-sm
        .i-mod-product.clearfix
            mixin projectTitle(sty, title, introduce, url, new)
                .project-title-box
                    a(href=url)
                        i.project-type-icon(class=sty)
                        span=title
                    if new == 'new'
                        em
                    i.vertical-icon
                    label=introduce
            if month_data
                +projectTitle('type-icon-1', '月利宝', '收益递增', '/ylb/monthly.php', 'new')
                .g-plan-box.clearfix(tag=1)
                    .slide-left(tag=1)
                    .slide-right(tag=1)
                    .project-boxs
                        .project-box-c
                            for month in month_data
                                .g-plan-project.ylb-project
                                    .g-plan-title
                                        a(href="{{month.detail_url}}")
                                            if  month.name == 'A'
                                                letterS = 'a-icon'
                                            elif month.name == 'B'
                                                letterS = 'b-icon'
                                            elif month.name == 'C'
                                                letterS = 'c-icon'
                                            elif month.name == 'D'
                                                letterS = 'd-icon'
                                            i.letter-icon(class=letterS)
                                            span 月利宝{{month.name}}
                                            label
                                            span.short-name {{month.short_name}}
                                    activity_rates = float(month['extra_rate'])
                                    if activity_rates > 0
                                        .increase-interest-box
                                            label.increase-interest
                                                span
                                                | {{month.activity_name}} 已+{{month.extra_rate}}%
                                    .percentage-box
                                        if month.expected_earning_rate == month.rate_end
                                            span {{month.expected_earning_rate}}
                                        else
                                            span {{month.expected_earning_rate}}~{{month.rate_end}}
                                        label %
                                    .time-money.clearfix
                                        .time-left
                                            p.p-top {{month.period}}个月
                                            p.p-b 项目期限
                                        .border-left
                                        .money-right
                                            jhje = float(month['total_amount'])
                                            p.p-top {{ jhje | convert_to_10k}}元
                                            p.p-b 计划金额
                                    .progress-bar.clearfix
                                        .progress-bar-box
                                            .progress-bar-left
                                                span(style='width:{{month.ordered_percent }}%')
                                            ktjes = float(month['remain_amount'])
                                            .available-amount 可投金额 {{ktjes | money_format_int}}元
                                        .progress-bar-right {{month.ordered_percent}}%
                                    .go-investment
                                        if month.display_status == '已审核'
                                            a(href="{{month.detail_url}}") 立即投资
                                        else
                                            a.disable-style(href="{{month.detail_url}}") 计划满额
                    lengths = len(month_data)
                    .page-boxs
                        span.active
                        if lengths > 3
                            span
                        if lengths > 6
                            span
            +projectTitle('type-icon-2', '散标', '选择多样', '/p2p/list/')
            .g-plan-box.clearfix(tag=2)
                .slide-left(tag=2)
                .slide-right(tag=2)
                .project-boxs
                    .project-box-c
                        for p2p, index in p2p_list
                            .g-plan-project
                                if p2p.category == "新手标"
                                    .icons.new-user-icon
                                else
                                    if p2p.is_app_exclusive
                                        .icons.app-share-new
                                .g-plan-title
                                    if p2p.types.name == '汽车贷' or p2p.types.name == '车贷'
                                        i.card-icon
                                    elif p2p.types.name == '房贷'
                                        i.house-icon
                                    elif p2p.types.name == '一般企业贷' or p2p.types.name == '珠宝贷' or p2p.types.name == '艺术品贷' or p2p.types.name == '红木贷'
                                        i.qy-icon
                                    elif p2p.types.name == '黄金标'
                                        i.gold-icon
                                    elif p2p.types.name == '过桥周转业务'
                                        i.bank-icon
                                    else
                                        i.other-icon
                                    a(href="/p2p/detail/{{p2p.id}}")
                                        span.san-title {{p2p.name}}
                                    if index == 0 or index == 3 or index == 6
                                        em.short-term 短期
                                    elif index == 1 or index == 4 or index == 7
                                        em.metaphase 中期
                                    elif index == 2 or index == 5 or index == 8
                                        em.long-term 长期
                                .mt40
                                    total_amount = p2p.total_amount / 10000.0
                                    amount = p2p.total_amount - p2p.ordered_amount
                                    if p2p.activity.rule.percent_text > 0
                                        .interest-more
                                            label {{p2p.activity.rule.name}}
                                                span
                                    .project-introduction
                                        label 年化收益：
                                        span.profit {{p2p.expected_earning_rate}}
                                            i %
                                            if p2p.activity.rule.percent_text > 0
                                                | +{{p2p.activity.rule.percent_text}}
                                                i %
                                    .project-introduction
                                        label 项目期限：
                                        span {{p2p.period}}
                                            i {{p2p.pay_method|period_unit}}
                                    .project-introduction
                                        label 融资金额：
                                        span {{total_amount}}
                                            i 万元
                                .progress-bar.clearfix
                                    percent = float(p2p.ordered_amount) / p2p.total_amount * 100
                                    .progress-bar-box
                                        .progress-bar-left
                                            span(style='width:{{percent | percentage}}')
                                        .available-amount 可投金额 {{amount | money_format_int}}元
                                    .progress-bar-right {{percent | percentage}}
                                .go-investment
                                    if p2p.display_status == '抢购中'
                                        a.min(href='/p2p/detail/{{p2p.id}}') 立即投资
                                    else
                                        a.min.disable-style(href='/p2p/detail/{{p2p.id}}') {{p2p.display_status}}
                p2pLengths = len(p2p_list)
                .page-boxs
                    span.active
                    if p2pLengths > 3
                        span
                    if p2pLengths > 6
                        span
            if assignment_data
                +projectTitle('type-icon-3', '转让标', '灵活快捷', '/ylb/exchange.php', 'new')
                .g-plan-box.clearfix(tag=3)
                    .slide-left(tag=3)
                    .slide-right(tag=3)
                    .project-boxs
                        .project-box-c
                            for assignment in assignment_data
                                .g-plan-project.zqzr-project
                                    .g-plan-title
                                        i.zrb-icon
                                        a(href='{{assignment.detail_url}}')
                                            span.san-title {{assignment.short_name}}
                                        .transfer-boxs
                                            i.transfer 转
                                            .transfer-box 查看
                                                a(href='/help/') 债权转让
                                                | 规则
                                    .time-money.transfer-info.clearfix
                                        .time-left
                                            p.p-top.num {{assignment.purchaser_year_interset}}
                                                i %
                                            p.p-b 年化收益
                                        .border-left
                                        .money-right
                                            p.p-top
                                                span {{assignment.remaining_time}}
                                                i 天
                                            p.p-b 剩余期限
                                    .detail-info
                                        p
                                            label 原标年化：
                                            span {{assignment.rate_end}}%
                                        p
                                            label 转让金额：
                                            span {{assignment.principal_sale_amount}}元
                                    .progress-bar.clearfix
                                        .progress-bar-box
                                            .progress-bar-left
                                                span(style="width:{{assignment.ordered_percent}}%")
                                            ktje = float(assignment['principal_left_amount'])
                                            .available-amount 可投金额 {{ktje | money_format_int }}元
                                        .progress-bar-right {{assignment.ordered_percent}}%
                                    .go-investment
                                        if assignment.display_status == '正在售卖'
                                            a.min(href="{{assignment.detail_url}}") 立即投资
                                        else
                                            a.min.disable-style(href="{{assignment.detail_url}}") 转让完成
                    assignmenLlengths = len(assignment_data)
                    .page-boxs
                        span.active
                        if assignmenLlengths > 3
                            span
                        if assignmenLlengths > 6
                            span

    .i-mod-wrap.mg-t-sm.mg-b-xl
      .i-mod-news
        ul.clearfix
          li.mg-r-xxl
            a(href="/about/").ns-head
              i.icon.iconfont.icon-about
              span.font-l.mg-l-s 关于网利宝
            a(href="/pc_guide/").ns-cont
              img(src='/static/imgs/pc/home/video_5_04.jpg', alt='互联网金融').ns-about
          li.mg-r-xxl
            a(href="/announcement/").ns-head
              i.icon.iconfont.icon-notice
              span.font-l.mg-l-s 平台公告
            .ns-cont.ns-notice.t-d4
              for anno in announcements
                a(href="{{anno.get_absolute_url}}/" target="_blank").font-ss.clearfix
                  .span9.notice-body
                    i.icon-notice-self
                    |&nbsp{{anno}}
                  .span3.tr.notice-time.t-d9 {{anno.createtime | date:"Y-m-d" }}
          li
            a(href="/news/list/").ns-head
              i.icon.iconfont.icon-report
              span.font-l.mg-l-s 媒体报道
            .ns-cont.ns-media.t-d4
              for news in news_and_reports
                a(href="/news/detail/{{news.id}}", title="{{news.name}}", target='_blank').t-d4.font-ss.clearfix.media-list
                  img(src="/media/{{news.image}}", alt="p2p理财")
                  .media-txt {{news.name}}
                  .media-time.t-d9 {{news.created_at | date:"Y-m-d"}}
    //a.bonus-icon
    //.bonus-img(style='display:none')
    //  .weixin_btn
    //  .close
    .wdty(style='display:none')
        a.investment-btn(href='/accounts/register/') 立即领取
        .close
    .page(style='display:none')
    include global/g_footer
    script.
      require(["/static/src/pc/index.js?v=20160519"])
    include include/tracking
