-load formatters
-load mathfilters
doctype html
html(style="background:#fff")
  head
    meta(name="format-detection" content="telephone=no,email=no")
    title 一周年
    meta(charset="utf-8")
    meta(content="telephone=no,email=no" ,name="format-detection")
    meta(content="yes" ,name="apple-mobile-web-app-capable")
    script.
      (function(){var b=navigator.userAgent;ipad=b.match(/(iPad).*OS\s([\d_]+)/)?true:false;iphone=!ipad&&b.match(/(iPhone\sOS)\s([\d_]+)/)?true:false;uc=navigator.userAgent.indexOf("UCBrowser")>-1?true:false;ios=ipad||iphone;var d=1,a=1,c;if(ios){if(window.devicePixelRatio>=2){d*=0.5;a*=2}}else{if(uc){if(window.devicePixelRatio>=2){d*=0.5;a*=2}}}c='<meta name="viewport" content="initial-scale='+d+", maximum-scale="+d+", minimum-scale="+d+', width=device-width, user-scalable=no" />';document.write(c);document.documentElement.style.fontSize=20*a+"px"})();
    link(href="/static/styles/mobile_activity/app.css", rel="stylesheet")
    - csrf_token

    body
    .bannerAnniversary
        img(src='/static/imgs/mobile_activity/app_anniversary/banner.jpg')
        .imgDiv
            img(src='/static/imgs/mobile_activity/app_anniversary/bannerFont.png').bannerFonts
    .activityOne
        img(src='/static/imgs/mobile_activity/app_anniversary/one.jpg')
        .activityOneDiv
            .span 一重豪礼：周年庆典，签到有礼
        .activityOneBtn
            if user.is_authenticated
                a(href='javascript:void(0)')#checkUserStatus 立即注册领现金
            else
                a(href='/weixin/regist/?next=/activity/app_anniversary/') 立即注册领现金
    .activityTwo
        .activityTwoDiv
            .span 二重豪礼：全场加息
        img(src='/static/imgs/mobile_activity/app_anniversary/two.jpg')
        .activityTwoBtn
            if user.is_authenticated
                a(href='/weixin/list/') 立即去投资
            else
                a(href='/weixin/regist/?next=/activity/app_anniversary/') 立即去投资
    .activityThree
        .activityThreeDiv
            .span 三重豪礼：海量豪礼，幸运转转赚
        .zhuanpanDiv
            .centerStyle.zIndex
                .prize-light1
            .centerStyle.zIndex
                .prize-light2
            .centerStyle
                .luckDrawImg
                    .luckDrawButton
                        if user.is_authenticated
                            a(href='javascript:void(0)')
                                img(src='/static/imgs/mobile_activity/app_anniversary/button.png').rotateImg
                        else
                            a(href='/weixin/regist/?next=/activity/app_anniversary/')
                                img(src='/static/imgs/mobile_activity/app_anniversary/button.png')
        .luckDrawRightTop.clearfix
            h3 中奖名单
            p 网利宝周年庆，百万奖品倾情回馈
            p 今天你赚了吗？100％中奖哦！
            .borderShadow
                .ulDiv
                    ul.clearfix#users
                        li.odd
                            span 恭喜
                                em  138****1265
                                | 获得
                            label 50元红包
                        li
                            span 恭喜
                                em  152****9935
                                | 获得
                            label 200元红包
                        li.odd
                            span 恭喜
                                em  187****2545
                                | 获得
                            label 50元红包
                        li
                            span 恭喜
                                em  151****5169
                                | 获得
                            label 50元红包
                        li.odd
                            span 恭喜
                                em  138****7271
                                | 获得
                            label 200元红包
                        li
                            span 恭喜
                                em  139****2526
                                | 获得
                            label 200元红包
                        li.odd
                            span 恭喜
                                em  151****1489
                                | 获得
                            label 500元红包
                        li
                            span 恭喜
                                em  152****3356
                                | 获得
                            label 200元红包
                        li.odd
                            span 恭喜
                                em  138****9876
                                | 获得
                            label 500元红包
                        li
                            span 恭喜
                                em  139****2456
                                | 获得
                            label 1000元红包
        p.fonts1
            em 单标首次投资
            | 5000元，立享中奖机会！
        p.fonts2 *本轮抽奖9月21日24点结束
        .activityThreeBtn
            if user.is_authenticated
                a(href='/weixin/list/') 立即去投资
            else
                a(href='/weixin/regist/?next=/activity/app_anniversary/') 立即去投资
    .activityFour
        .activityThreeDiv
            .span 四重豪礼：满额投资送~
        .fourFonts
            p 在活动期间大额投资，
            p 单笔投资满额即可实现即刻返现！
            p 最高返现30000元！
        .aboutMoney
            p 单笔投资≥5万元，返现550元
            p 单笔投资≥10万元，返现1200元
            p 单笔投资≥20万元，返现2600元
            p 单笔投资≥50万元，返现7000元
            p 单笔投资≥80万元，返现12000元
            p 单笔投资≥100万元，返现15000元
            p 单笔投资≥200万元，返现30000元
        .fourImg
            img(src='/static/imgs/mobile_activity/app_anniversary/four.jpg')
        .activityOneBtn
            if user.is_authenticated
                a(href='/weixin/list/') 立即去投资
            else
                a(href='/weixin/regist/?next=/activity/app_anniversary/') 立即去投资
        p.remarkContent 注：现金奖励在三个工作日内以红包形式发出，请留意站内信。
    .activityRuleCont
        h5 活动规则
        p ① 活动时间：2015年9月6日-9月21日；
        p ② 周年庆活动期间新注册用户，签到领红包为直减现金红包，50元红包投资满额1000元即可使用（投资1000元，实际投资额为950元），红包有效期截止到2015年9月30日；
        p ③ 周年庆新注册红包仅限通过官网、APP、微信渠道主动注册用户领取。通过好友邀请或第三方渠道注册则无法享受此新手活动福利；
        p ④ 单标首次投资5000元以上的用户均可参与周年庆大抽奖活动一次，多抽多送！用户需在用户中心里完善收货信息，中得实物奖品的用户，在活动结束后15个工作日内会有客服MM与您联系，请保持手机畅通。若手机无人接听或非自然原因无法接通（停机、人为挂断），则视为用户放弃领奖，后续奖品不予发放；
        p ⑤ 所有奖品不兑换现金，不可替换。满额投资返现金活动，现金奖励在三个工作日内以红包形式发出，红包类型为现金红包；
        p ⑥ 所有获奖红包以站内信形式通知，完成一次投资回款后即可取现；
        p ⑦ 本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑。
        .grayFont * 网利宝对此活动享有最终解释权
    .page(style='display:none')
    .errorWinDiv(style='display:none')
        .errorWin
            p.p1 对不起，亲~
            p.p2#errorContent 您不符合参加规则
            p
                img(src='/static/imgs/mobile_activity/app_anniversary/bird.png')
    .winningDiv(style='display:none')
        .winningImg
            img(src='/static/imgs/mobile_activity/app_anniversary/zhongjiang.png')
        img(src='/static/imgs/mobile_activity/app_anniversary/close.png').spanBtn
        p 恭喜您获得
          em#moeny
          | 元现金红包
        .winningBtn
            a(href='javascript:void(0)').againBtn 再抽一次

    script(src="/static/scripts/mobile_activity/jQueryRotate.2.2.js")
    script(src="/static/js/script.js")
    script(src="/static/src/mobile/lib/weixin/wx.js")
    script(data-init='anniversary', src="/static/scripts/mobile_activity/anniversary.js")






