doctype html
html
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 遇见10年前的你
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        link(href="/static/styles/mobile_activity/jquery.fullPage.css?v=20150921", rel="stylesheet")

        link(href="/static/styles/mobile_activity/app_ten_year.css?v=20150921", rel="stylesheet")
    body
        .bg
        img(src="/static/imgs/mobile_activity/app_ten_year/shadow_bottom.png").shadow
        img(src="/static/imgs/mobile_activity/app_ten_year/mask.png").mask
        img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor1
        img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor2
        img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor3
        img(src="/static/imgs/mobile_activity/app_ten_year/meteor2.png").bottom_meteor
        #play.play_music
        audio#music(loop='loop',style='width:0;height:0;')
            source(type="audio/mpeg", src="/static/imgs/mobile_activity/app_ten_year/ten_year.mp3")
        #wrap
            .section.section1
                img(src="/static/imgs/mobile_activity/app_ten_year/big_theme.png").theme.animate
                img(src="/static/imgs/mobile_activity/app_ten_year/page1_text1.png").text1.animate
                img(src="/static/imgs/mobile_activity/app_ten_year/page1_text2.png").text2.animate
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
                .mask
            .section.section2
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page2_text.png").text
                img(src="/static/imgs/mobile_activity/app_ten_year/page2_img1.png").young
                img(src="/static/imgs/mobile_activity/app_ten_year/page2_img2.png").old
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section3
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page3_talk.png").talk
                img(src="/static/imgs/mobile_activity/app_ten_year/page3_boy.png").boy
                img(src="/static/imgs/mobile_activity/app_ten_year/page3_boy2.png").boy_before
                img(src="/static/imgs/mobile_activity/app_ten_year/page3_man.png").man
                img(src="/static/imgs/mobile_activity/app_ten_year/page3_line.png").line
                .line_img
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section4
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page4_man12.png").man1
                img(src="/static/imgs/mobile_activity/app_ten_year/page4_man1.png").man1_before
                img(src="/static/imgs/mobile_activity/app_ten_year/page4_man2.png").man2
                img(src="/static/imgs/mobile_activity/app_ten_year/page4_talk.png").talk
                img(src="/static/imgs/mobile_activity/app_ten_year/page4_math.png").math
                img(src="/static/imgs/mobile_activity/app_ten_year/page4_line.png").line
                .line_img
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section5
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page5_woman12.png").woman1
                img(src="/static/imgs/mobile_activity/app_ten_year/page5_woman1.png").woman1_before
                img(src="/static/imgs/mobile_activity/app_ten_year/page5_woman2.png").woman2
                img(src="/static/imgs/mobile_activity/app_ten_year/page5_talk.png").talk
                img(src="/static/imgs/mobile_activity/app_ten_year/page5_bamboo.png").bamboo
                img(src="/static/imgs/mobile_activity/app_ten_year/page5_line.png").line
                .line_img
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section6
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_img1.png").horn
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_img2.png").sound
                .form
                    img(src="/static/imgs/mobile_activity/app_ten_year/page6_text.png").text
                    input
                    a.button(href="#page7") 确 定
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section7
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly
                img(src="/static/imgs/mobile_activity/app_ten_year/page7_img.png").horn
                .title!='你对十年前的<span id="name">自己</span>说:'
                .text!='"<span id="say">少玩游戏</span>"'
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section8
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly
                img(src="/static/imgs/mobile_activity/app_ten_year/page8_text1.png").text1
                img(src="/static/imgs/mobile_activity/app_ten_year/page8_text2.png").text2
                a.button(href="https://www.wanglibao.com/weixin/regist/?next=/weixin/authentication/") "到网利宝领取"

        script(src="/static/js/lib/jquery.min.js")
        script(src="/static/scripts/mobile_activity/dist/jquery.fullPage.min.js")
        script(src="/static/js/app_ten_year.js")

