- load formatters
- load mathfilters
doctype html
html(style="background: #f4f4f4")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile/mobile.css?v=20150114", rel="stylesheet")
        link(href="/static/styles/mobile_activity/swiper.min.css?v=2015050502", rel="stylesheet")
        link(href="/static/styles/mobile_activity/app_open_day_review.css?v=2015051301", rel="stylesheet")
        - csrf_token
    body
        input(type='hidden',value='{{user.is_authenticated}}')#authenticated
        .body_wrap.clear
            img.banner(src='/static/imgs/mobile_activity/app_open_day_review/banner.png')
            .section.section_2
                .ranking_wrap
                    dl
                        dt 红木专场大放送
                        dd!='人气王<span>重礼</span>悬赏'
                    .red_box
                        img(src='/static/imgs/mobile_activity/app_open_day_review/red_box.png')
                        span 2016年5月12日-5月18日
                    p.ranking_title_top “产融通HMD”  类项目累计排行榜
                    .ranking_list
                        ul
                            //li.first
                            //    .img
                            //        img(src='/static/imgs/mobile_activity/app_open_day_review/no_1.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li.second
                            //    .img
                            //        img(src='/static/imgs/mobile_activity/app_open_day_review/no_2.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li.third
                            //    .img
                            //        img(src='/static/imgs/mobile_activity/app_open_day_review/no_3.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li
                            //    .img
                            //        img.yuan(src='/static/imgs/mobile_activity/app_open_day_review/yuan.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li
                            //    .img
                            //        img.yuan(src='/static/imgs/mobile_activity/app_open_day_review/yuan.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li
                            //    .img
                            //        img.yuan(src='/static/imgs/mobile_activity/app_open_day_review/yuan.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li
                            //    .img
                            //        img.yuan(src='/static/imgs/mobile_activity/app_open_day_review/yuan.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li
                            //    .img
                            //        img.yuan(src='/static/imgs/mobile_activity/app_open_day_review/yuan.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li
                            //    .img
                            //        img.yuan(src='/static/imgs/mobile_activity/app_open_day_review/yuan.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                            //li
                            //    .img
                            //        img.yuan(src='/static/imgs/mobile_activity/app_open_day_review/yuan.png')
                            //    .phone 132****04
                            //    .money 2,400,000
                    .careful_text 注：<br>1、活动期间，投资带有“产融通HMD”开头的项目，投资金额才能进入累计排行。<br>2、投资额相同的情况下，按照投资时间先后顺序进行排名。
            .section.section_2.section_margin
                .ranking_box
                    .red_title 重礼悬赏
                    .ranking_box_list
                        .box
                            .img
                                img(src='/static/imgs/mobile_activity/app_open_day_review/paiming_1.png')
                                p 1 名
                            p.data_text!='价值<span>2000</span>元红木制品'
                        .box
                            .img
                                img(src='/static/imgs/mobile_activity/app_open_day_review/paiming_2.png')
                                p 1 名
                            p.data_text!='价值<span>1500</span>元红木制品'
                        .box
                            .img
                                img(src='/static/imgs/mobile_activity/app_open_day_review/paiming_3.png')
                                p 1 名
                            p.data_text!='价值<span>1000</span>元红木制品'
                        .box
                            .img.img_4
                                img(src='/static/imgs/mobile_activity/app_open_day_review/paiming_4.png')
                                p 20 名
                            p.data_text!='价值<span>1000</span>元红木制品'
                        .box
                            .img.img_4
                                img(src='/static/imgs/mobile_activity/app_open_day_review/paiming_5.png')
                                p 20 名
                            p.data_text.data_text_5!='<span>10</span>元无门槛抵扣红包'
            if p2p_list_url
                p.insert_text
                    span 红木贷项目列表：
                    a(href="{{p2p_list_url}}") 更多>>
            else
                p.insert_text
                    span 红木贷项目列表：
                    span.app_link 更多>>
            .section.section_2
                .p2p_products_box

                    for product in p2p_products
                      status = product['display_status']
                      if product.category == '新手标'
                        span.red_title  新手福利
                      else
                          if product.is_app_exclusive
                            span.red_title  APP专享

                      if status == '抢购中'
                        listClass = 'profit-blue'
                        btnClass = 'btn-blue'
                      elif status == '已还款'
                        listClass = 'profit-hui'
                        btnClass = 'btn-grey'
                      elif status == '还款中'
                        listClass = 'profit-hui'
                        btnClass = 'btn-lightblue'
                      else
                        listClass = 'profit-hui'
                        btnClass = 'btn-red'
                      .list-section
                        a(href="/weixin/view/detail/{{product.id}}/").section-head

                          span.head-tit {{product.name}}
                        .section-body
                          a(href="/weixin/view/detail/{{product.id}}/").body-left
                            .body-Profit
                              span.profit-cont
                                .profit-math(class=listClass)
                                  earning_rate = str(product['expected_earning_rate'])
                                  span.profit-num {{earning_rate}}
                                  span.profit-sign %
                                  if product.activity
                                    span.prpfit-add +
                                    span.profit-addNum {{product.activity.activity_rule_percent_text}}
                                    span.profit-addNumsign %
                                .profit-tit 年化收益
                            //.body-time-line
                            .body-time
                              .time-num
                                em.section-hui {{product.period}}
                                |{{product.pay_method|period_unit}}
                              .time-tit 投资期限
                          .total_amount_num {{product.total_amount|convert_to_10k}}
                          .body-right
                            if btnClass == 'btn-blue'
                              a(href="/weixin/view/buy/{{product.id}}/?next=/weixin/list/").btn-body(class=btnClass) {{status}}
                            else
                              a(href="/weixin/view/detail/{{product.id}}/").btn-body(class=btnClass) {{status}}
                        //percent = float(product['ordered_amount']) / product['total_amount'] * 100
                        //if status == '抢购中'
                        //  .section-progressd(style="width:{{percent | percentage}}")

            .section.section_2.section_margin
                .user_notes
                    .red_title 用户须知
                    dl
                        dt 1、
                        dd 活动时间：2016年5月12日0:00 － 5月18日23:59。
                    dl
                        dt 2、
                        dd 活动期间，投资带有“产融通HMD”开头的项目，投资金额才会进入累计排行。
                    dl
                        dt 3、
                        dd 获奖用户以投资“产融通HMD”类项目累计金额为准。
                    dl
                        dt 4、
                        dd 实物奖品在活动结束后在三个工作内由客服通知并发放。
                    dl
                        dt 5、
                        dd 20名普惠奖励，红包无使用门槛，活动结束后三个工作日内下发，有效期领取之日7天有效。

            .section.section_1
                .big_title.big_title_1 “产业银行”的业务模式
                .line_red
                p.text.text_1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网利宝凭借丰富的金融行业经验、互联网优势，在业内创立了“产业银行”的商业模式，即以产业为切入点、在细分领域深耕，通过产融结合的方式，挖掘产业链中优质中小企业的融资需求。与消费信贷相比，网利宝在获取优质资产方面的优势主要体现在两个方面。一是网利宝不依靠传统的担保、小贷公司推荐债权，而是借助产业龙头的行业积累主动挖掘，建立一条稳定、可靠的渠道;二是在中国个人征信不健全的环境下，网利宝专注企业贷，通过管控质押物，更易确保借款企业按时还款，降低用户投资风险。
                p.text.text_2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014 年 8 月上线来，网利宝在车房贷、物流货运、红木、珠宝、金融仓储等细分产业进行了深度布局，建立了一个稳定的、挖掘优质资产的渠道，先后服务近 2000 家中小企业，截至2016年4月末完成了 50 多亿交易额，拥有近 150 万用户。



            .section.section_2.section_big
                .section_big_main
                    .big_title.big_title_1 木材为重点深耕产业之一
                    .line_red


                    .swiper-container.swiper_big
                        .swiper-wrapper
                            .swiper-slide
                                .small_title 为什么深耕木材行业？
                                .line_gray
                                img.advantage_wrap_1(src='/static/imgs/mobile_activity/app_open_day_review/advantage_wrap.png')
                            .swiper-slide
                                .small_title 主要业务范围？
                                .line_gray
                                img.advantage_wrap_1(src='/static/imgs/mobile_activity/app_open_day_review/advantage_wrap_2.png')
                                //.section_text.section_text_1!='全国 4 大木材生产集散地:  <br><span>1、河北大城&nbsp;&nbsp;2、浙江东阳&nbsp;&nbsp;3、福建仙游&nbsp;&nbsp;4、广东观澜</span>'
                            .swiper-slide
                                .small_title 企业有哪些借款需求？
                                .line_gray
                                img.advantage_wrap_1(src='/static/imgs/mobile_activity/app_open_day_review/advantage_wrap_3.png')
                            .swiper-slide
                                .small_title 如何让借款者按时还款？
                                .line_gray
                                img.advantage_wrap_1(src='/static/imgs/mobile_activity/app_open_day_review/advantage_wrap_4.png')
                            .swiper-slide
                                .small_title 如何评估质押物？
                                .line_gray
                                img.advantage_wrap_1(src='/static/imgs/mobile_activity/app_open_day_review/advantage_wrap_5.png')
                            .swiper-slide
                                .small_title 质押物如何管理处置？
                                .line_gray
                                img.advantage_wrap_1(src='/static/imgs/mobile_activity/app_open_day_review/advantage_wrap_6.png')
                        .swiper-pagination


            //.section.section_1
            //    .small_title.small_title_2 主要业务范围？
            //    .line_gray
            //    img.map(src='/static/imgs/mobile_activity/app_open_day_review/map.png')
            //    .section_text.section_text_1!='全国 4 大木材生产集散地:  <br><span>1、河北大城&nbsp;&nbsp;2、浙江东阳&nbsp;&nbsp;3、福建仙游&nbsp;&nbsp;4、广东观澜</span>'
            //.section.section_2
            //    .small_title.small_title_2 企业有哪些借款需求？
            //    .line_gray
            //    img.section_box4(src='/static/imgs/mobile_activity/app_open_day_review/section_box4.png')
            //.section.section_1
            //    .small_title.small_title_2 如何让借款者按时还款？
            //    .line_gray
            //    img.section_box5(src='/static/imgs/mobile_activity/app_open_day_review/section_box5.png')
            //    .section_text.section_text_2!='网利宝以<span>质押物</span>为核心制定了严密的风控手段。<br>此外，平台金盾计划设立债权转让专项资金，<br>进一步维护用户权益。'
            //.section.section_2
            //    .small_title.small_title_2 如何评估质押物？
            //    .line_gray
            //    .section_box6
            //        .box
            //            img(src='/static/imgs/mobile_activity/app_open_day_review/iconfont_team.png')
            //            .text 内部风控团队评估
            //        .box
            //            img(src='/static/imgs/mobile_activity/app_open_day_review/iconfont_expert.png')
            //            .text 第三方专家评估
            //        .box
            //            img(src='/static/imgs/mobile_activity/app_open_day_review/iconfont_form.png')
            //            .text 参考国家级木材价格指数<br>——鱼珠价格指数
            //        .box
            //            img(src='/static/imgs/mobile_activity/app_open_day_review/iconfont_inquiry.png')
            //            .text 意向回购企业询价
            //.section.section_1
            //    .small_title.small_title_2 质押物如何管理处置？
            //    .line_gray
            //    .section_box7
            //        .box.box_1
            //            img.img_1(src='/static/imgs/mobile_activity/app_open_day_review/Group-2.png')
            //            .text 与行业内知名金融仓储企业合作，<br>建立仓库;
            //        .box.box_2
            //            img(src='/static/imgs/mobile_activity/app_open_day_review/Group-3.png')
            //            .text 合作伙伴提供专业质押物<br>仓储监管服务;
            //        .box.box_2
            //            img(src='/static/imgs/mobile_activity/app_open_day_review/Group-4.png')
            //            .text 合作伙伴提供<br>质押物回购服务;
            //.red_box
            //    .text 2016 年 4 月 9 日，网利宝以“木材专场”为主题开展了开放日活动。当日，用户不仅在总部与平台高管进行了面对面交流，还乘坐专车来到廊坊大城县，实地参观了平台在合作机构设立的质押物仓储。
            .section.section_2.section_margin
                .big_title.big_title_1 用户代表实地考察
                .line_red
                //.small_title.small_title_1 参观合作机构
                //.line_gray.line_gray_1
                .section_box8
                    .swiper-container.swiper1
                        .swiper-wrapper
                          .swiper-slide
                            img(src='/static/imgs/mobile_activity/app_open_day_review/img_new_1.jpg')
                          .swiper-slide
                            img(src='/static/imgs/mobile_activity/app_open_day_review/img_new_2.jpg')
                          .swiper-slide
                            img(src='/static/imgs/mobile_activity/app_open_day_review/img_new_3.jpg')
                          .swiper-slide
                            img(src='/static/imgs/mobile_activity/app_open_day_review/img_new_4.jpg')
                    .pagination.pagination1
                .photo_text 2016 年 4 月 9 日,网利宝以“木材专场”为主题开展了开放日活动。当日,用户不仅在总部与平台高管进行了面对面交流,还乘坐专车来到廊坊大城县,实地参观了平台在合作机构设立的质押物仓储。
            //.section.section_1
            //    .small_title.small_title_2 考察木材质押物
            //    .line_gray.line_gray_2
            //    .section_box8
            //        .swiper-container.swiper2
            //            .swiper-wrapper
            //              .swiper-slide
            //                img(src='/static/imgs/mobile_activity/app_open_day_review/img_4.jpg')
            //              .swiper-slide
            //                img(src='/static/imgs/mobile_activity/app_open_day_review/img_5.jpg')
            //              .swiper-slide
            //                img(src='/static/imgs/mobile_activity/app_open_day_review/img_6.jpg')
            //              .swiper-slide
            //                img(src='/static/imgs/mobile_activity/app_open_day_review/img_7.jpg')
            //        .pagination.pagination2
            //    .photo_text 合作机构负责人带领用户实地参观了两个质押物的所在仓储，并详细讲述了质押物的管控模式。
            //.section.section_2
            //    .small_title.small_title_2 参观木材体验馆
            //    .line_gray.line_gray_2
            //    .section_box8
            //        .swiper-container.swiper3
            //            .swiper-wrapper
            //              .swiper-slide
            //                img(src='/static/imgs/mobile_activity/app_open_day_review/img_8.jpg')
            //              .swiper-slide
            //                img(src='/static/imgs/mobile_activity/app_open_day_review/img_9.jpg')
            //              .swiper-slide
            //                img(src='/static/imgs/mobile_activity/app_open_day_review/img_10.jpg')
            //              .swiper-slide
            //                img(src='/static/imgs/mobile_activity/app_open_day_review/img_11.jpg')
            //        .pagination.pagination3
            //    .photo_text 用户代表来到木材家具体验馆，切身感受原木经过加工、安装、打磨、抛光等环节最终到成品的巨大变化。


            .section.section_1.section_last
                .big_title.big_title_1 实地考察后，用户怎么说?
                .line_red
                .talk_box
                    .swiper-container.swiper2
                        .swiper-wrapper
                          .swiper-slide
                            .box
                                img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_1.png')

                                .talk
                                    .people_name 余女士：<br>
                                    .people_text 我是带着远方朋友的嘱托对平台和质押物进行的实地考察，不论是在总部与CEO交流，还是在参观质押物过程中与仓储机构负责人交流，对于我这个门外汉所提的疑问，他们都耐心地做了解答。个人感觉，公司要想做大做强，靠的不是手段，而是制度和精神。通过这次活动，我感觉网利宝CEO赵润龙先生是想做一番事业的人。
                                img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                          .swiper-slide
                            .box
                                img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_2.png')
                                .talk
                                    .people_name 曹先生：<br>
                                    .people_text 安全性是整个平台的重中之重，作为投资人，十分想了解自己的钱究竟用在了哪些地方，听了网利宝高管的讲解，心里踏实了许多，也学习了很多投资方面的知识，可以说实地考察不虚此行，我觉得任何行业如果都有这种觉悟和企业理念，就不会出现种种骗局。希望网利宝以后可以多举办一些这样的互动活动或在线讲座等。
                                img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                          .swiper-slide
                            .box
                                img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_3.png')
                                .talk
                                    .people_name 小轩：<br>
                                    .people_text 网利宝木材专场开放日活动回答了两个我最想问的问题，一是网利宝的模式，二是网利宝的风控，个人感觉网利宝是一家比较靠谱的公司，通过足值实物质押，不私设资金池，最大程度保护了投资人的利益，在实地考察质押物后，这一感触更深。希望网利宝发展得越来越好，为投资人带来更多收益。
                                img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                          .swiper-slide
                            .box
                                img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_4.png')
                                .talk
                                    .people_name 黄先生：<br>
                                    .people_text 感谢网利宝开设木材仓储专项活动，赵总、杨总和曹总详细讲述了公司业务的开展流程、风险控制等投资者最想了解的问题。在P2P的大领域里，网利宝选择精耕细作自己擅长的细分领域，不仅让平台避免了同质化竞争，还有效保证了公司收入和投资人的利益，应该为网利宝公司点赞。
                                img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                          .swiper-slide
                            .box
                                img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_5.png')
                                .talk
                                    .people_name 小蒙：<br>
                                    .people_text 这次活动中CEO赵润龙和各位高管以专业角度给我们讲述了平台的风控模式和业务流程，让我学习到了业内更深层面的知识，尤其木材专场让我更直观得看到了平台的专业能力和综合实力，收获颇丰。以前对网利宝一知半解，现在是更有信心！
                                img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                          .swiper-slide
                              .box
                                img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_6.png')
                                .talk
                                    .people_name 苏先生：<br>
                                    .people_text 一天的考察结束了，在回来的路途中我想了很多。互联网金融的关健是做好风控、保护投资者利益，而网利宝的高层都是从事金融行业多年，术有专攻这方面让投资者放心。通过实地考察木材质押物、 参观家具成品，让我体会到了木材之所以经久不衰，带给我们的不仅仅是美，更多的是工艺与智慧的传承，让我们期待网利宝做得更好！
                                img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                    .pagination.pagination2


                    //.box
                    //    img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_1.png')
                    //
                    //    .talk
                    //        .people_name 余女士：<br>
                    //        .people_text 我是带着远方朋友的嘱托对平台和质押物进行的实地考察，不论是在总部与CEO交流，还是在参观质押物过程中与仓储机构负责人交流，对于我这个门外汉所提的疑问，他们都耐心地做了解答。个人感觉，公司要想做大做强，靠的不是手段，而是制度和精神。通过这次活动，我感觉网利宝CEO赵润龙先生是想做一番事业的人。
                    //    img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                    //.box
                    //    img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_2.png')
                    //    .talk
                    //        .people_name 曹先生：<br>
                    //        .people_text 安全性是整个平台的重中之重，作为投资人，十分想了解自己的钱究竟用在了哪些地方，听了网利宝高管的讲解，心里踏实了许多，也学习了很多投资方面的知识，可以说实地考察不虚此行，我觉得任何行业如果都有这种觉悟和企业理念，就不会出现种种骗局。希望网利宝以后可以多举办一些这样的互动活动或在线讲座等。
                    //    img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                    //.box
                    //    img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_3.png')
                    //    .talk
                    //        .people_name 小轩：<br>
                    //        .people_text 网利宝木材专场开放日活动回答了两个我最想问的问题，一是网利宝的模式，二是网利宝的风控，个人感觉网利宝是一家比较靠谱的公司，通过足值实物质押，不私设资金池，最大程度保护了投资人的利益，在实地考察质押物后，这一感触更深。希望网利宝发展得越来越好，为投资人带来更多收益。
                    //    img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                    //.box
                    //    img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_4.png')
                    //    .talk
                    //        .people_name 黄先生：<br>
                    //        .people_text 感谢网利宝开设木材仓储专项活动，赵总、杨总和曹总详细讲述了公司业务的开展流程、风险控制等投资者最想了解的问题。在P2P的大领域里，网利宝选择精耕细作自己擅长的细分领域，不仅让平台避免了同质化竞争，还有效保证了公司收入和投资人的利益，应该为网利宝公司点赞。
                    //    img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                    //.box
                    //    img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_5.png')
                    //    .talk
                    //        .people_name 小蒙：<br>
                    //        .people_text 这次活动中CEO赵润龙和各位高管以专业角度给我们讲述了平台的风控模式和业务流程，让我学习到了业内更深层面的知识，尤其木材专场让我更直观得看到了平台的专业能力和综合实力，收获颇丰。以前对网利宝一知半解，现在是更有信心！
                    //    img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
                    //.box
                    //    img.people_top.people_1(src='/static/imgs/mobile_activity/app_open_day_review/people_6.png')
                    //    .talk
                    //        .people_name 苏先生：<br>
                    //        .people_text 一天的考察结束了，在回来的路途中我想了很多。互联网金融的关健是做好风控、保护投资者利益，而网利宝的高层都是从事金融行业多年，术有专攻这方面让投资者放心。通过实地考察木材质押物、 参观家具成品，让我体会到了木材之所以经久不衰，带给我们的不仅仅是美，更多的是工艺与智慧的传承，让我们期待网利宝做得更好！
                    //    img.people_bottom(src='/static/imgs/mobile_activity/app_open_day_review/people_footer.png')
        script(src='/static/src/mobile/lib/weixin/wx.js')
        script(src='/static/js/lib/swiper_new_min.js')
        script(src="/static/scripts/component/webview.js")
        script(src="/static/scripts/mobile_activity/app_open_day_review.js?v=2015051301")

        //script.
        //    var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
        //        iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
        //        ios = ipad || iphone;
        //    if (ios) {
        //        document.getElementById('ios-show').style.display = 'block';
            }