- load formatters
doctype html
html(style="background: #f6f6f6")
  head
    title 网利宝
    include include/app_head
  body
    input(type='hidden', name='token', value='{{token}}')
    .maimai-banner
      if channel and channel.image
        img(src='/media/{{channel.image}}')
      else
        img(src='/static/imgs/mobile_activity/app_maimai/man.jpg')

      a(href='/activity/maimai_rules/').maimai-rule 活动规则
    .maimai-form
      input(type='tel', name='phone', placeholder='输入手机号',data-type='Phone',data-message='请输入正确的手机号', autocomplete = 'off').maimai-phone
      .maimai-check-body
        .maimai-form-margin
        .phone-check
          input(type='tel', name='codeimg',data-type='Val',data-message='请输入图形验证码',  placeholder='输入验证码').check-input
          input(type='hidden', name='codeimg_key',value='')
          img(src='').check-img
        .maimai-form-margin
        .phone-check
          input(type='tel', name='codenum',data-type='Val',data-message='请输入短信码', placeholder='输入短信码').check-input
          button(type="button").check-submit 短信验证码
      .maimai-form-sign 请输入正确的手机号
      .maimai-form-margin.maimai-sign-margin
      input(type='button',name='submit' ,value="领 取",disabled=true).maimai-form-btn
    //宣传文案
    section.regist-propagate
      ul
        mixin li(imgName, title, bodyTxt1, bodyTxt2)
          li
            span(class=imgName)
            h4=title
            p=bodyTxt1
            p=bodyTxt2


        +li('trust', '信赖', '0逾期', '百万用户的共同选择')
        +li('authority', '实力', 'IDG资本A轮投资', '鸿利光电B轮投资')
        +li('safe', '风控', '抵押、质押或保证担保', '金盾计划收购逾期违约债权')
        +li('profit', '好收益', '100元起投', '预期年化6-13%')
    include include/confirm
    script(data-init='mmIndex', src="/static/scripts/mobile_activity/dist/maimai.js?v=20160513")
    script.
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8b9c036b173399804571158d081d6480' type='text/javascript'%3E%3C/script%3E"));
