- load formatters
- load mathfilters
doctype html
html(style="background: #fff")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile/mobile.css?v=20150114", rel="stylesheet")
        link(href="/static/styles/mobile_activity/swiper.min.css?v=2015050502", rel="stylesheet")
        link(href="/static/styles/mobile_activity/app_six_billion.css?v=2015051702", rel="stylesheet")
        - csrf_token
    body
        input(type='hidden',value='{{user.is_authenticated}}')#authenticated
        .body_wrap.clear
            .section.section_1
                img.banner_img(src='/static/imgs/mobile_activity/app_six_billion/banner_1.jpg')
                .sum_num 5,900,907,840.00
            .section.section_2
                img.banner_img(src='/static/imgs/mobile_activity/app_six_billion/banner_2_img.png')
                .act_time 动时间：2016年6月1日 0:00-23:59<br>网利宝破亿的大日子里，怎么能没有加息送呢。<br>千呼万唤的满额送加息来啦！
                .brand_wrap
                    .brand_box
                        .title_text 1千<单笔投资额<1万
                        .send_text 赠：
                        .add_num!='1<span>%</span>'
                        .goods_text 加息券
                        .use_text_1 使用门槛
                        .use_text_2 1万，限1月及以上标使用
                    .brand_box.brand_box_2
                        .title_text 1千<单笔投资额<3万
                        .send_text 赠：
                        .add_num!='1.2<span>%</span>'
                        .goods_text 加息券
                        .use_text_1 使用门槛
                        .use_text_2 3万，限1月及以上标使用
                    .brand_box.brand_box_3
                        .title_text 3万<单笔投资额<5万
                        .send_text 赠：
                        .add_num!='1.4<span>%</span>'
                        .goods_text 加息券
                        .use_text_1 使用门槛
                        .use_text_2 6万，限1月及以上标使用
                    .clear
                    .brand_box.brand_box_4
                        .title_text 5万<单笔投资额<8万
                        .send_text 赠：
                        .add_num!='1.7<span>%</span>'
                        .goods_text 加息券
                        .use_text_1 使用门槛
                        .use_text_2 10万，限1月及以上标使用
                    .brand_box.brand_box_5
                        .title_text 8万≤单笔投资额
                        .send_text 赠：
                        .add_num!='2<span>%</span>'
                        .goods_text 加息券
                        .use_text_1 使用门槛
                        .use_text_2 20万，限1月及以上标使用
                .clear
                .prompt_wrap 温馨提示：<br>1、活动期间投资一月及以上标，即可获得加息券。<br>2、投资完成后，加息券实时发放到用户账户，登录“我的账户”-理财券专区查看。<br>3、加息券有效期：6月4日－6月15日23:59。
        script(src='/static/src/mobile/lib/weixin/wx.js')
        script(src='/static/js/lib/swiper_new_min.js')
        script(src="/static/scripts/component/webview.js")
        script(src="/static/scripts/mobile_activity/app_six_billion.js?v=2015051307")

        //script.
        //    var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
        //        iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
        //        ios = ipad || iphone;
        //    if (ios) {
        //        document.getElementById('ios-show').style.display = 'block';
            }