doctype html
html
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 网利宝
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        link(href="/static/styles/mobile_activity/app_iPhone_6S.css?v=20150926", rel="stylesheet")
    body
        #wrap
            .head_box
                img(src="/static/imgs/mobile_activity/app_iPhone_6S/iphone.jpg").bg
                .small_title 投资满额100%送，更有百万红包约你来领！
                //.time 活动时间：2015年9月25日 - 2015年10月8日
            .main
                p.bit_title 金九银十财神节，网利宝双节豪礼回馈<br>承包你的愿望清单！
                p.small_title iPhone6s plus、iPhone6s 、iPad air 2、千元现金红包均投资满额100%直接送，不限数量多投多得！
                dl
                    dt 一、活动详情：
                    dd!= '【仅限投<span>3月标（含）以上</span>标期】160万≤单日累计投资，送iPhone6s plus 128G版本 一台 （价值7788元）'
                    dd!= '【仅限投<span>3月标（含）以上</span>标期】140万≤单日累计投资，送iPhone6s plus 64G版本 一台 或 iPhone6s 128G版本 一台 （价值6888元）'
                    dd!= '【仅限投<span>3月标（含）以上</span>标期】120万≤单日累计投资，送iPhone6s plus 16G版本 一台 （价值6088元）'
                    dd!= '【仅限投<span>3月标（含）以上</span>标期】100万≤单日累计投资＜120万，送iPhone6s 16G版本 一台 （价值5288元）'
                    dd!= '【仅限投<span>3月标（含）以上</span>标期】70万≤单日累计投资＜100万，送iPad air2 WIFI 16G版本 一台 （价值3588元）'
                    dd!= '【仅限投<span>3月标（含）以上</span>标期】30万≤单日累计投资＜70万，送1500元现金红包'
                    dd!= '【仅限投<span>3月标（含）以上</span>标期】20万≤单日累计投资＜30万，送1000元现金红包'
                    dd!= '【仅限投<span>3月标（含）以上</span>标期】10万≤单日累计投资＜20万，送500元现金红包'
                dl
                    dt 二、红包规则：
                    dd 1.现金红包投资满额可获得，二次投资回款后可提现。红包只限使用一次，使用后无论是否有余额均失效。所以二次投资时请您切记一定要满额使用红包余额；
                    dd 2.本活动所有红包在活动结束后7个工作日内发放，以站内信形式通知，红包有效期截止2015年10月15日。
                dl
                    dt 三、活动规则：
                    dd 1.活动时间：2015年9月25日-2015年10月8日，新老用户均可参与；
                    dd!= ' 2.投资满额奖励仅限投<span>3月标（含）以上</span>标期，请意向参加活动的用户务必投<span>3月标（含）以上</span>标期；'
                    dd 3.获得实物奖励资格的用户，需在用户中心里完善收货信息，在活动结束后7个工作日内会有客服人员与您联系，请保持手机畅通，所有实物奖品均会在11月15日前发放完毕；
                    dd 4.实物奖可兑换等额网利宝现金红包；
                    dd 5.本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
                    dd 6.网利宝对此活动享有最终解释权。
                    dd#ios-show(style="display:none") 7.所有活动由网利宝提供，与苹果公司（Apple Inc.）无关 如有疑问请联系在线客服或拨打4008-588-066
        script.
            var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
                iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
                ios = ipad || iphone;
            if (ios) {
                document.getElementById('ios-show').style.display = 'block';
            }