- load formatters
doctype html
html(style="background:#fef4e0")
  head
    title 逢八必发
    include include/app_head
  body
    .m-gold-banner
      img(src='/static/imgs/mobile_activity/app_eight_gift/banner.jpg')
    .app-eight
      img(src='/static/imgs/mobile_activity/app_eight_gift/one.png').app-eight-img1
      .line
      h3 第一重【全民有礼】
      p.app_eight_backone 活动时间
      p.app_eight_backone 8月3日—8月8日
      p.app_eight_backone 活动形式
      p.app_eight_backone 全民有礼，特权来袭！活动期间内新注册网利宝首次投资并满额的用户，每天根据发奖先后顺序，均可在四份奖品中随机获得一份，数量有限，先到先得发完为止！
      .app_eight_backzhong
          p 1000元 > 投资额 ≥500元，可随机获得奖品一份如下：
      img(src='/static/imgs/mobile_activity/app_eight_gift/eight.jpg').app-eight-img2
      .app_eight_backzhong
          p 投资额≥1000元，可随机获得奖品一份如下：
      img(src='/static/imgs/mobile_activity/app_eight_gift/eight1.jpg').app-eight-img2
      p.app_eight_backzhong1 说明：用户完成满额投资后，系统自动发送一个礼物到用户账户。


    .app-eightthree.app-eightthree1
      img(src='/static/imgs/mobile_activity/app_eight_gift/threeapp.png').app-eight-img1
      .line
      h3
        |第三重【发财大礼】
        p
          lable(style='color: #f6cf3f')#shenme 神秘大礼
          span#jinjiang 即将揭晓
      p.app_eight_backone 活动时间
      p.app_eight_backone 8月8日（仅限一天）
      p.app_eight_backone 活动形式
      p.app_eight_backone 逢八必发，超级发财机会仅此一天！
      p.app_eight-countdown#eight-countdown
        lable#daojishi 距离开始还有
        span(style='color: #f6cf3f;font-size: 2.05rem')#display
        |天
      p.eight-time#eight-time
        span#display1
        |:
        span#display2
        |:
        span#display3

    .app-eightfour
      img(src='/static/imgs/mobile_activity/app_eight_gift/fourapp.png').app-eight-img1
      .line
      h3 第四重【投资豪礼】
      p.app_eight_backone
        |活动时间 利上有礼，HIGH翻全场！活动期间内单笔投资额达到
        span(style='color: #f6cf3f') 10万
        |以上，即可获得额外现金红包奖励！
      img(src='/static/imgs/mobile_activity/app_eight_gift/hong9.jpg').app-eight-img2
      p.app_eight_gift_backzhong1 现金奖励在三个工作日内以红包形式发出，红包类型为现金红包，投资或取现不限门槛。

    .app-eightfive
      h3 活动规则
      p.app_eight_backone 1. 注册网利宝用户，均可在活动期间领取高额红包福利；
      p.app_eight_backone 2. 每天领取红包均为折扣红包，按投资金额的1%折扣使用，红包有效期至8月11日；
      p.app_eight_backone 3. 全民有礼活动奖品为满额投资后系统随机发放1个（四选一），奖品发完为止，先到先得。所得奖品不可调换不可升级不可兑现；
      p.app_eight_backone 4. 投资豪礼奖品为现金红包。活动红包统一以站内信形式通知，完成一次投资回款后即可取现；
      p.app_eight_backone 5. 所有红包均只能使用一次，使用后是否有余额即失效；
      p.app_eight_backone 6. 本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
      p.app_eight_backone 7. 网利宝对此活动享有最终解释权。
#small-zc
  .wrap(style="background:none")
    .gold2
      .seven-success#seven-success
        span.first-xl-off2 ×
        .seven-happy.seven-com.seven-nine
          p(style='margin-top: 1rem').eight_app 亲，恭喜您
          p.eight_app 今天伸手领钱成功
        a(href="/").first-user 立即使用
      #first-redpack-fail
        span.first-xl-off2 ×
        p 不符合参加条件
script.

  function TimeTo(dd) {
    var t = new Date(dd),//取得指定时间的总毫秒数
            n = new Date().getTime(),//取得当前毫秒数
            c = t - n;//得到时间差
    if (c <= 0) {//如果差小于等于0  也就是过期或者正好过期，则推出程序
      //document.getElementById('timer').innerHTML = '活动已经结束';
      clearInterval(window['ttt']);//清除计时器
      return;//结束执行
    }
    var ds = 60 * 60 * 24 * 1000,//一天共多少毫秒
            d = parseInt(c / ds),//总毫秒除以一天的毫秒 得到相差的天数
            h = parseInt((c - d * ds) / (3600 * 1000)),//然后取完天数之后的余下的毫秒数再除以每小时的毫秒数得到小时
            m = parseInt((c - d * ds - h * 3600 * 1000) / (60 * 1000)),//减去天数和小时数的毫秒数剩下的毫秒，再除以每分钟的毫秒数，得到分钟数
            s = parseInt((c - d * ds - h * 3600 * 1000 - m * 60 * 1000) / 1000);//得到最后剩下的毫秒数除以1000 就是秒数，再剩下的毫秒自动忽略即可
    if(h < 10)
        h = "0" + h;
        if(m < 10)
        m = "0" + m;
        if(s < 10)
        s = "0" + s;
    document.getElementById('display').innerHTML = d;
    document.getElementById('display1').innerHTML = h;
    document.getElementById('display2').innerHTML = m;
    document.getElementById('display3').innerHTML = s;
  }
  (function () {
    window['ttt'] = setInterval(function () {

      TimeTo('2015/8/8 00:00:00');//定义倒计时的结束时间，注意格式

    }, 1000);//定义计时器，每隔1000毫秒 也就是1秒 计算并更新 div的显示
  })();
  var timeTask=setInterval(function(){
        var date=new Date();
        var tt=date.getMonth();
        var gt=date.getDate();
        var ht=date.getHours();
        var mt=date.getMinutes();
        var st=date.getSeconds();
        if(tt>=7&&gt>=7&&ht>=12&&mt>=0&&st>=0){
             document.getElementById('jinjiang').innerHTML = '全场加息';
             document.getElementById('shenme').innerHTML = '';

        }
        if(tt>=7&&gt>=8&&ht>=0&&mt>=0&&st>=0){
          document.getElementById('jinjiang').innerHTML = '全场加息';
          document.getElementById('shenme').innerHTML = '';
          TimeTot('2015/8/8 23:59:59');
          callFun();
        }else{
          document.getElementById('button-eight').href = 'javascript:void(0)';
          document.getElementById('button-eight').style.background='#3d3d3d';

        }
    },1000);

    function callFun(){
       document.getElementById('daojishi').innerHTML = '距离结束还有';
    }
  function TimeTot(dd) {
    var t = new Date(dd),//取得指定时间的总毫秒数
            n = new Date().getTime(),//取得当前毫秒数
            c = t - n;//得到时间差
    if (c <= 0) {//如果差小于等于0  也就是过期或者正好过期，则推出程序
      document.getElementById('eight-time').innerHTML = '活动已经结束';
      document.getElementById('eight-countdown').innerHTML = '';
      clearInterval(TimeTot('2015/8/8 23:00:00'));//清除计时器
      return;//结束执行
    }
    var ds = 60 * 60 * 24 * 1000,//一天共多少毫秒
            d = parseInt(c / ds),//总毫秒除以一天的毫秒 得到相差的天数
            h = parseInt((c - d * ds) / (3600 * 1000)),//然后取完天数之后的余下的毫秒数再除以每小时的毫秒数得到小时
            m = parseInt((c - d * ds - h * 3600 * 1000) / (60 * 1000)),//减去天数和小时数的毫秒数剩下的毫秒，再除以每分钟的毫秒数，得到分钟数
            s = parseInt((c - d * ds - h * 3600 * 1000 - m * 60 * 1000) / 1000);//得到最后剩下的毫秒数除以1000 就是秒数，再剩下的毫秒自动忽略即可
    if(h < 10)
        h = "0" + h;
        if(m < 10)
        m = "0" + m;
        if(s < 10)
        s = "0" + s;
    document.getElementById('display').innerHTML = d;
    document.getElementById('display1').innerHTML = h;
    document.getElementById('display2').innerHTML = m;
    document.getElementById('display3').innerHTML = s;
  }