doctype html
html
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 遇见10年前的你
        meta(name="viewport" content="minimal-ui")
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        link(href="/static/styles/mobile_activity/jquery.fullPage.css?v=20150921", rel="stylesheet")
        link(href="/static/styles/mobile_activity/app_ten_year.css?v=201509295", rel="stylesheet")
    body
        .loadPage#loadPage
            .load-warp
                .logo
                .process 0%
        .bg
        img(src="/static/imgs/mobile_activity/app_ten_year/weixin_img_300.jpg").hide
        img(src="/static/imgs/mobile_activity/app_ten_year/shadow_bottom.png").shadow
        img(src="/static/imgs/mobile_activity/app_ten_year/mask.png").mask
        img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor1
        img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor2
        img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor3
        img(src="/static/imgs/mobile_activity/app_ten_year/meteor2.png").bottom_meteor
        #play.play_music
        audio#music(loop='loop',style='width:0;height:0;',autoplay='autoplay')
            source(type="audio/mpeg", src="/static/imgs/mobile_activity/app_ten_year/ten_year.mp3")
        #wrap
            .section.section1
                .img.theme.animate
                .img.text1.animate
                .img.text2.animate
                .mask
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section2
                .img.small_theme
                .img.text
                .img.young
                .img.old
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section3
                .img.talk
                .img.boy
                .img.man
                .img.line_img
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section4
                .img.man1
                .img.man2
                .img.talk
                .img.math
                .img.line_img
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section5
                .img.woman1
                .img.woman2
                .img.talk
                .img.bamboo
                .img.line_img
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section6
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_img1.png").horn
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_img2.png").sound
                .form
                    img(src="/static/imgs/mobile_activity/app_ten_year/page6_text.png").text
                    input( maxlength="8")
                    a.button(href="#page7") 确 定
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section7
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly
                img(src="/static/imgs/mobile_activity/app_ten_year/page7_img.png").horn
                .title!='你对十年前的<span id="name">自己</span>说:'
                .text!='"<span id="say">去旅游，去邂逅</span>"'
                img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").slideDown
            .section.section8
                img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly
                img(src="/static/imgs/mobile_activity/app_ten_year/page8_text1.png").text1
                img(src="/static/imgs/mobile_activity/app_ten_year/page8_text2.png").text2
                a.button(href="/weixin/regist/?next=/weixin/authentication/") 到网利宝领取

        script(src="/static/js/lib/jquery.min.js")
        script(src="/static/scripts/mobile_activity/dist/jquery.fullPage.min.js")
        script(src="/static/js/app_ten_year_loading.js")
        script(src="/static/js/app_ten_year.js")

