doctype html
html
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 邀请好友，一起成为百万富翁
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        link(href="/static/styles/mobile_activity/app_gold_season.css?v=201510133", rel="stylesheet")
        script(src="/static/js/require.js")
        - csrf_token
        body
            .goldSeason
                img.goldSeasonBanner(src='/static/imgs/mobile_activity/app_gold_season/banner.jpg')
                .rankingList
                    img(src='/static/imgs/mobile_activity/app_gold_season/rankingList1.png').bg1
                    .wrap_list
                        ul.table
                            li.one 排行
                            li.two 用户
                            li.three 累计佣金
                        .list
                            ul.one
                                li
                                    span.one
                                li
                                    span.two
                                li
                                    span.three
                                li
                                    span.round 4
                                li
                                    span.round 5
                                li
                                    span.round 6
                                li
                                    span.round 7
                                li
                                    span.round 8
                                li
                                    span.round 9
                                li
                                    span.round 10
                            ul.two
                                - var item1 = ['','','','','','','','','','']
                                each item in item1
                                    li= item
                            ul.three
                                li.front 0 元
                                li.front 0 元
                                li.front 0 元
                                - var item1 = ['0 元','0 元','0 元','0 元','0 元','0 元','0 元']
                                each item in item1
                                    li= item
                    img(src='/static/imgs/mobile_activity/app_gold_season/rankingList3.png').bg3
                img(src='/static/imgs/mobile_activity/app_gold_season/label1.png').label1
                .order
                    .box.one
                        img(src='/static/imgs/mobile_activity/app_gold_season/orderImg1.png')
                        dl
                            dt 下载网利宝APP
                            dd
                                img(src='/static/imgs/mobile_activity/app_gold_season/erweima.jpg')
                    img(src='/static/imgs/mobile_activity/app_gold_season/orderArrow.png').arrow
                    .box
                        img(src='/static/imgs/mobile_activity/app_gold_season/orderImg2.png')
                        dl
                            dt 进入个人<br>账户页面
                            dd "登录" -- "我的账户"
                    img(src='/static/imgs/mobile_activity/app_gold_season/orderArrow.png').arrow
                    .box
                        img(src='/static/imgs/mobile_activity/app_gold_season/orderImg3.png')
                        dl
                            dt 分享专属链接
                            dd 账户页面 -- "全民淘金" -- "马上邀请" 分享专属邀请链接给好友
                    img(src='/static/imgs/mobile_activity/app_gold_season/orderArrow.png').arrow
                    .box
                        img(src='/static/imgs/mobile_activity/app_gold_season/orderImg4.png')
                        dl
                            dt 坐享佣金
                            dd 好友通过邀请链接注册并投资三个月(含三个月)以上的投资项目,即可坐享丰厚佣金
                .explain
                    img(src='/static/imgs/mobile_activity/app_gold_season/explain1.png').bg1
                    .main
                        dl
                            dt 1、活动时间： 2015年6月23日-2016年6月30日
                        dl
                            dt 2、活动说明:
                            dd &nbsp;&nbsp;&nbsp;&nbsp;－邀请好友注册网利宝，若好友注册后，投资3个月以上（含3个月）项目，则享有好友投资额3‰作为邀请佣金；
                            dd!=' &nbsp;&nbsp;&nbsp;&nbsp;－例如：用户A邀请新用户B注册并投资，则A享有B在活动时间内<span>每笔投资额3‰</span>的邀请佣金；（其中B每笔投资项目期限须<span>≥3个月</span>）（不包括债转项目）'
                        img.exampleImg(src='/static/imgs/mobile_activity/app_gold_season/cheats_img_new.png')

                        dl
                            dd &nbsp;&nbsp;&nbsp;&nbsp;-  被邀请人注册时须使用邀请人提供的专属链接或专属邀请码，活动邀请关系方成立，网利宝仅以此确认邀请关系；
                            dd &nbsp;&nbsp;&nbsp;&nbsp;-  活动期间内，邀请人获得的邀请佣金累计无上限；被邀请人受邀注册后，可获得28888元体验金及最高300元现金红包。
                        dl
                            dt 3、本活动可与网利宝其他优惠活动同时享用。
                        dl
                            dt 4、刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予兑现，网利宝对此活动享有最终解释权。
                    img(src='/static/imgs/mobile_activity/app_gold_season/explain3.png').bg1
                .activity-time
                    .icon
                    img(src='/static/imgs/mobile_activity/app_gold_season/activity-title.png').activity-title
                    .activity-box
                        .activity-box-c
                            p 统计周期：
                            p
                                span 6月1号00:00-7月30日23:59
                            p 被邀请人需在统计周期内（6月1日—7月30日）投资方可计算在邀请奖励中；没有在统计周期内（6月1日—7月30日）投资的，之后的投资将不计算在邀请奖励内。
                            p
                                span 举个例子：
                            p 例子1：6月15日，小明邀请了小红投资，小红6月15日注册，6月15日投资10000元，6月20日投资40000元，6月30日投资50000元，到6月30日，小红累计投资100000元，那么小明7月30日将获得100000*0.3%=300元的奖励。
                            p.mt125 例子2：6月15日，小明邀请了小红投资，小红在统计周期6月15日—7月30日之间注册了没有投资，但是到了8月1日，小红投资10000元，因已经过了有效的统计期，小明将不获得任何奖励。
                .prompt-c 邀请好友奖励可以在到账当日免费提现哦，欢迎大家参与！
                .footer#ios-show(style="display:none") 所有活动由网利宝提供，与苹果公司（Apple Inc）无关，<br>如有疑问请联系在线客服或拨打4008-588-066。
                .share-btns 邀请好友
            script.
                require(['/static/src/mobile_activity/app_gold_season.js?v=20150527'])
