ten_year.sassdoctype html
html
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 遇到十年前的自己
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        link(href="/static/styles/mobile_activity/app_ten_year.css?v=201510144", rel="stylesheet")
    body
        .wp
            .loadPage#loadPage
                .load-warp
                    .logo
                    .text
                        span.letter L
                        span.letter O
                        span.letter A
                        span.letter D
                        span.letter I
                        span.letter N
                        span.letter G
                        span.letter .
                        span.letter .
                        span.letter .
            .bg
                img(src="/static/imgs/mobile_activity/app_ten_year/weixin_img_300.jpg").hide
                img(src="/static/imgs/mobile_activity/app_ten_year/shadow_bottom.png").shadow
                img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor1
                img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor2
                img(src="/static/imgs/mobile_activity/app_ten_year/meteor1.png").meteor.meteor3
                img(src="/static/imgs/mobile_activity/app_ten_year/meteor2.png").bottom_meteor
            #play.play_music
            audio#music(loop='loop',style='width:0;height:0;',autoplay='autoplay')
                source(type="audio/mpeg", src="/static/imgs/mobile_activity/app_ten_year/ten_year.mp3")
            #wrap
                .page.page1
                    .img.theme.ccc
                    .img.text1.text1_animate
                    .img.text2.text2_animate
                .page.page2
                    .img.text.moveUp
                    .img.young.young_animate
                    .img.old.old_animate
                .page.page3
                    img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                    .img.talk.moveUp2
                    .img.boy.boy_animate
                    .img.man.man_animate
                    .img.line_img.line_animate
                .page.page4
                    .img.man1.man1_animate
                    .img.man2.man2_animate
                    .img.talk.p4talk_animate
                    .img.math.math_animate
                    .img.line_img.p4line_animate
                    img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                .page.page5
                    .img.woman1.woman1_animate
                    .img.woman2.woman2_animate
                    .img.talk.p5talk_animate
                    .img.bamboo.bamboo_animate
                    .img.line_img.p5line_img
                    img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                .page.page6
                    img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                    img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly.p6fly_animate
                    img(src="/static/imgs/mobile_activity/app_ten_year/page6_img1.png").horn.p6horn_animate
                    img(src="/static/imgs/mobile_activity/app_ten_year/page6_img2.png").sound.p6sound
                    .form
                        img(src="/static/imgs/mobile_activity/app_ten_year/page6_text.png").text
                        input( maxlength="8").p6input
                        a.button( data-dir="moveNext") 确 定
                .page.page7
                    img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                    img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly.p7fly_animate
                    img(src="/static/imgs/mobile_activity/app_ten_year/page7_img.png").horn.p7horn
                    .title.p7title!='你对十年前的<span id="name">自己</span>说:'
                    .text.p7text!='"<span id="say">去旅游，去邂逅</span>"'
                .page.page8
                    img(src="/static/imgs/mobile_activity/app_ten_year/small_theme.png").small_theme
                    img(src="/static/imgs/mobile_activity/app_ten_year/page6_fly.png").fly.p8fly_animate
                    img(src="/static/imgs/mobile_activity/app_ten_year/page8_text1.png").text1.p8text1
                    img(src="/static/imgs/mobile_activity/app_ten_year/page8_text2.png").text2.p8text2
                    a.button.p8button(href="/weixin/regist/?promo_token=h5chuanbo") 到网利宝领取
            img(src="/static/imgs/mobile_activity/app_ten_year/slideDown.png").arrowDown

        div(style="display:none")
            script.
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F55fcf0f3d843f47b4785c7ec44de129c' type='text/javascript'%3E%3C/script%3E"));
            script.
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8b9c036b173399804571158d081d6480' type='text/javascript'%3E%3C/script%3E"));

        script(src="/static/js/app_ten_year.js")
        //里面最后几行自带Loading
        script.

            window.onload=function(){
                $('#loadPage').hide(500);
            }

            $(function () {
                /*fullpage*/
                var wrap = $('#wrap'), arrow = $('.arrowDown');
                wrap.fullpage({
                    page: '.page',
                    change: function (data) {
                        data.cur + 1 === wrap.find('.page').size() ? arrow.hide() : arrow.show();

                    }
                });
                var say;
                var say_num;
                say_num = parseInt(12 * Math.random());
                say_text(say_num);
                function say_text(say_num) {
                    switch (say_num) {
                        case 1:
                            $('#say').text('去旅游，去邂逅');
                            break;
                        case 2:
                            $('#say').text('少睡觉，多看书');
                            break;
                        case 3:
                            $('#say').text('少玩游戏，多赚钱');
                            break;
                        case 4:
                            $('#say').text('养只宠物，解解闷');
                            break;
                        case 5:
                            $('#say').text('多锻炼，保持好身材');
                            break;
                        case 6:
                            $('#say').text('一切都会过去，好好爱自己 ');
                            break;
                        case 7:
                            $('#say').text('别做梦，学一项技能');
                            break;
                        case 8:
                            $('#say').text('好好听课，不要留遗憾');
                            break;
                        case 9:
                            $('#say').text('对自己好一点，买买买');
                            break;
                        case 10:
                            $('#say').text('学好英语，看看世界');
                            break;
                        case 11:
                            $('#say').text('尝试新事物，遇见新朋友');
                            break;
                        case 12:
                            $('#say').text('再努力一下，挺住意味着一切');
                            break;
                    }
                }

                $('.page6 .button').on('click', function (e) {

                    say = $('input').val();
                    if (say == '') {
                        $('#name').text('自己');
                    } else {
                        $('#name').text(say);
                    }
                    $('body').unbind('touchmove');
                    say_num = parseInt(18 * Math.random());
                    say_text(say_num);
                    e.preventDefault();
                    $.fn.fullpage[$(this).data('dir')](true);
                });
                /*fullpage结束*/


                var mp3 = document.getElementById("music"),play = $('#play');
                play.on('click', function (e) {
                    if (mp3.paused) {
                        mp3.play();
                        $('#play').addClass('play_music').removeClass('close_music');
                    } else {
                        mp3.pause();
                        $('#play').addClass('close_music').removeClass('play_music');
                    }
                });

                mp3.play();
                $(document).one('touchstart', function () {
                    mp3.play();
                });
            })
        script(src="/static/src/mobile/lib/weixin/wx.js")
        script(src="/static/scripts/mobile_activity/dist/app_ten_year_share.js?v=20151013")
