-load formatters
-load mathfilters
doctype html
html.no-js(lang="en-gb")
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/car_house_loan.css?v=2016061601")
        - csrf_token
    body(style="background:#fafafa")
        include global/g_nav
        .body_wrap.clear
            .banner
                .banner_main
                    .text_1 走进优质资产系列专题之
                    .text_2 活动时间：2016年6月28日-7月4日
            .section.section_white.section_1
                .section_main
                    .big_title “车房” 专享福利大放送
                    .big_title_line
                    .small_title 活动时间：2016年6月13日-6月19日
                    .project_title
                        span 车房贷推荐：
                        a(href='#') 更多>>
                    .project_wrap
                        .project_box
                            .title_text 庆60亿专享1月期项目
                            .add_num 10 + 3.5%
                            .project_data
                                .data_1 本期额度
                                    span 500万
                                .data_1 项目期限
                                    span 6个月
                            .project_wrap_2
                                .project_bar
                                    span(style='width:80%')
                                .percentage_num 80%
                            .footer_b
                                span.footer_b_1 可投资金额65万元
                                span.footer_b_2 合作机构：联信汇业
                                span.footer_b_3 还款方式：按月付息，到期还本
                            .button_buy.blue_button 敬请期待
                            //.meng_layer
                        .project_box
                            .title_text 庆60亿专享1月期项目
                            .add_num 10 + 3.5%
                            .project_data
                                .data_1 本期额度
                                    span 500万
                                .data_1 项目期限
                                    span 6个月
                            .project_wrap_2
                                .project_bar
                                    span(style='width:80%')
                                .percentage_num 80%
                            .footer_b
                                span.footer_b_1 可投资金额65万元
                                span.footer_b_2 合作机构：联信汇业
                                span.footer_b_3 还款方式：按月付息，到期还本
                            .button_buy.blue_button 敬请期待
                    .footer_text 活动期间购买 “好车盈”和“好房赚”两款专属产品，单笔投资≥1000元可获得一次抽奖机会，100%中奖。
            .section.section_grey.section_2
                .section_main
                    .luck_draw_title 抽奖大转盘：
                    #container
                        table
                          tr
                            td
                              div#cj1.cj.cur
                                  .big_text!='0.8<span>％</span>'
                                  .small_text 加息券
                            td
                              div#cj2.cj
                                  .big_text!='1<span>％</span>'
                                  .small_text 加息券
                            td
                              div#cj3.cj
                                  .big_text!='1.8<span>％</span>'
                                  .small_text 加息券
                          tr
                            td
                              div#cj8.cj
                                  .big_text!='1.2<span>％</span>'
                                  .small_text 加息券
                            td
                              span.choujiang 马上抽奖
                            td
                              div#cj4.cj
                                  .big_text!='1<span>年</span>'
                                  .small_text 迅雷会员
                          tr
                            td
                              div#cj7.cj
                                  .big_text!='1<span>%</span>'
                                  .small_text 加息券
                            td
                              div#cj6.cj
                                  .big_text!='1.5<span>%</span>'
                                  .small_text 加息券
                            td
                              div#cj5.cj
                                  .big_text!='2<span>%</span>'
                                  .small_text 加息券

        include global/g_footer
script.
    require(['/static/js/car_house_loan.js?v=2016061601'])

