doctype html
html
  head
    - with '网利宝' as title
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet",href="/static/stylesheets/dayMobile.css")
  body
    .dayM-banner
      span#pig
      span.gold1
      span.gold2
      span.gold3
      img(src='/static/images/day_mobile/branner.jpg')
    .dayM-activity-cont
      .dayM-act-time 活动时间 ： 5月1日00:00:00 --6月1日23:59:59
      .dayM-act-rule
        .act-rule-tit 活动规则
        p.rule-red 参与时间00:00:00-23:59:59,零点数据清零,
          br
          |用户可每天重复参赛.
        p 用户每天投标累计金额
          em ≥6
          |万元，将获得网站投资奖励
      .dayM-act-linerMap
        img(src='/static/images/day_mobile/activity-table.jpg')
      .dayM-act-table
        table
          mixin trData(eDu, songE, className)
            if className != ''
              tr(class=className)
                td=eDu
                td=songE
            else
              tr
                td=eDu
                td=songE
          +trData('每日买满额度（元）', '送现金额度（元）', 'tableTh')
          +trData('50000-59999', '50', '')
          +trData('40000-49999', '40', '')
          +trData('30000-39999', '30', '')
          +trData('20000-29999', '20', '')
          +trData('10000-19999', '10', '')
      .dayM-act-tableRule
        span 注：
        p 若出现两名或两名以上客户投标金额相同时，则按当日投标时间先后排位;
          br
          |每天投标累计金额≥6万元用户未排入前十名将各获得60元红包
    .dayM-footer
      .dayM-gift-icon 红包规则
      .dayM-gift-rule
        mixin giftList(index, ruleTxt, whiteTxt)
          p
            span=index
            =ruleTxt
            if whiteTxt != ''
              em=whiteTxt
        +giftList('1', '红包有效期：', '2015年5月1日-2015年8月1日；')
        +giftList('2', '现金奖励在三个工作日内以红包形式发出，红包类型为直抵红包；', '')
        +giftList('3', '获奖红包以站内信形式通知，完成一次投资回款后即可取现；', '')
        +giftList('4', '获奖红包以站内信形式通知，完成一次投资回款后即可取现；', '')
        +giftList('5', '刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；', '')
        +giftList('6', '本活动不收取任何费用，谨防上当受骗；', '')
        +giftList('7', '网利宝对此活动享有最终解释权。', '')
      .dayM-URL 详情关注网利宝官网：
        a(href='http://www.wanglibao.com') www.wanglibao.com
      script.
        window.onload = function(){
          var pig = document.querySelector("#pig"),
              gold1=document.querySelector(".gold1"),
              gold2=document.querySelector(".gold2"),
              gold3=document.querySelector(".gold3");
          document.getElementById("pig").className = 'bounceInDown';
          setTimeout(function(){
            gold1.style.left = '23%';
            gold1.style.top = '20%';
            setTimeout(function(){
              pig.style.webkitTransform= "scale(1.2)";
              setTimeout(function(){
                gold2.style.left = '23%';
                gold2.style.top = '20%';
                setTimeout(function(){
                  pig.style.webkitTransform= "scale(1.4)";
                  setTimeout(function(){
                    setTimeout(function(){
                      gold3.style.left = '23%';
                      gold3.style.top = '20%';
                      setTimeout(function(){
                        pig.style.webkitTransform= "scale(1.6)";
                      },500)
                    },500)
                  },200)
                },500)
              },200)
            },500)
          },1000)
        }

