-load formatters
-load mathfilters
doctype html
html.no-js(lang="en-gb")
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/love_on_july.css?v=2016071401")
        - csrf_token
    body(style="background:#fafafa")
        include global/g_nav
        .body_wrap.clear
            .banner
                .banner_main
                    .act_time 活动时间：7月15日－7月31日
            .section.section_1
                .section_main
                    img.title_img(src='/static/imgs/pc_activity/love_on_july/section_1_img1.png')
                    .section_1_text 中国男人性格里埋藏着深深的含蓄，往往在表达爱意上总显得羞涩，<br>尤其是对朝夕相伴的妻子、爱人、女友，习惯了她的付出与陪伴，满怀感激却“爱你在心口难开”！<br>宝宝在这个七月，帮你对她勇敢的说爱！
                    img.section_img(src='/static/imgs/pc_activity/love_on_july/section_1_img2.png')
            .section.section_2
                .section_2_text 各位爷们儿，知道女人最爱的听得三个字是什么？<br>错！不是“我爱你“！而是“拿去花”！<br>爱她就舍得让她花！爱她你就要努力赚！<br>可是赚的节奏赶不上花啊？！<br>不用买彩票！不用去澳门、拉斯维加斯！<br>“爱妻悦”让你的“她”乐！开花！
            .section.section_3
                img.title_img.title_img1(src='/static/imgs/pc_activity/love_on_july/section_3_img1.png')
                .section_3_text1 “爱妻”专项优质标的
                .two_biao
                    .biao.left_biao
                        .title_text 爱妻月
                        .biao_text!='7月17日及7月27日，平台将随机为1至2个标的<span>加息1.7%或者2.7%</span>'
                    .biao.right_biao
                        .title_text 爱妻月
                        .biao_text!='活动期间内，平台将不定期发布妻月鲜花标。单笔投资达2.7万元及以上，<span>送包月鲜花。</span>'
                        span.wenhao
                .rule_wrap
                    .title_text 温馨提示：
                    dl
                        dt 1、
                        dd 每个爱妻月鲜花标限制前30名投资用户，先到先得；同一用户在同一标的只能获取一次，多笔投资以单笔投资最高金额为准，不可累加；满标之后工作人员会在3-5工作日内联系用户确认礼品配送相关事宜。
                    dl
                        dt 2、
                        dd 活动专项标的不可使用其他加息券或者红包。
                .clear
                .line
                img.title_img.title_img2(src='/static/imgs/pc_activity/love_on_july/section_3_img5.png')
                .section_3_text1.section_3_text2 活动期间，平台每天将为当天投资金额<br>累计最高的前三名用户送上精彩好礼
                .act_ranking
                    .box.box_1
                        dl
                            dt!='3<span>%</span>'
                            dd 加息券
                        .act_text 小美到家丁香花蕾<br>平衡清爽护理一次
                    .box.box_2
                        dl
                            dt!='2.7<span>%</span>'
                            dd 加息券
                        .act_text 价值149元的一年<br>迅雷会员
                    .box.box_3
                        dl
                            dt!='1.7<span>%</span>'
                            dd 加息券
                        .act_text 50元红包
                .now_ranking
                    .title_text 当前排名
                    #act_time.act_time
                    .now_main
                        //.box
                        //    .name_text 王先生
                        //    img(src='/static/imgs/pc_activity/love_on_july/section_3_img10.png')
                        //    .phone_num 123****7890
                        //    .money_num
                        //        span.money_num1 166,203.00元
                        //.box
                        //    .name_text 王先生
                        //    img(src='/static/imgs/pc_activity/love_on_july/section_3_img11.png')
                        //    .phone_num 123****7890
                        //    .money_num
                        //        span.money_num2 166,203.00元
                        //.box
                        //    .name_text 王先生
                        //    img(src='/static/imgs/pc_activity/love_on_july/section_3_img12.png')
                        //    .phone_num 123****7890
                        //    .money_num
                        //        span.money_num3 166,203.00元
                .rule_wrap.rule_wrap2
                    .title_text 温馨提示：
                    dl
                        dt 1、
                        dd 工作人员会在3-5工作日内联系用户确认奖品等相关事宜，通过站内信和短信将奖品发放。
                    dl
                        dt 2、
                        dd 小美到家兑换截止时间到2017年5月20日，兑换之日起30天有效；现已开通城市：北京、上海、成都、武汉、深圳，用户所在地不在奖品适用范围，可用80元红包替代；
                    dl
                        dt 3、
                        dd 迅雷会员兑换的截止时间：2016年9月30日；活动奖励发放请关注站内信及短信通知。
                    dl
                        dt 4、
                        dd 红包和加息券有效期自领取的7日内。
                    dl
                        dt 5、
                        dd 投资数据统计周期为每日0时至次日0时，投资转让标不纳入统计范围。
                .line
                img.title_img.title_img3(src='/static/imgs/pc_activity/love_on_july/section_3_img16.png')
                .section_3_text1.section_3_text2 投资满额送体验金
                .investment_wrap
                    .investmen_tline
                    .box.first_box
                        .div 投资门槛
                        .div 投资加息福利
                        .shu_line
                    .investmen_tline
                    .box
                        .div 1000≤单笔投资﹤1万
                        .div 1257元体验金
                        .shu_line
                    .investmen_tline
                    .box
                        .div 1万≤单笔投资﹤10万
                        .div 2157元体验金
                        .shu_line
                    .investmen_tline
                    .box
                        .div 10万≤单笔投资﹤30万
                        .div 5270元体验金
                        .shu_line
                    .investmen_tline
                    .box
                        .div 30万＋
                        .div 9257元体验金
                        .shu_line
                    .investmen_tline
                .clear
                .rule_wrap.rule_wrap3
                    .title_text 温馨提示：
                    .rule_text 体验金有效期截止到2016年8月10日。
                a.go_list(href='/p2p/list/') 马上投资
                //.rule_last 活动最终解释权归网利宝所有
            .popup_wrap
                .main
                    .textairport
                        p 温馨提示
                        dl
                            dt 1、
                            dd 每个标的限前30名用户，先到先得。
                        dl
                            dt 2、
                            dd 同一用户在同一标的只能获取一次，多笔投资以单笔投资最高金额为准，不可累加。
                        dl
                            dt 3、
                            dd 标的不可使用其他加息券或者红包。
                        dl
                            dt 4、
                            dd 满标之后工作人员会在2-3工作日内联系用户确认礼品配送相关事宜。
                        dl
                            dt 5、
                            dd 如有问题请致电网利宝客服4008-588-066或者关注花+公众号：everose888
                        dl
                            dt 6、
                            dd 鲜花配送范围：江苏 浙江 上海 合肥 广东 成都 天津（和平区 红桥区 南开区 河北区 河东区 河西区）河北（石家庄） 山东（青岛 济南）北京（朝阳 海淀 东城 西城 丰台 石景山 昌平 顺义 通州 大兴）其他地区暂时不支持配送。
                        dl
                            dt 7、
                            dd 送达时间：周六或周一，总计4次。（送达时间为9:00—18:30）
                    //.popup_button 知道了
                    img.close_popup(src="/static/imgs/pc_activity/love_on_july/close_popup.png")
        include global/g_footer
script.
    require(['/static/js/love_on_july.js?v=2016071401'])

