-load formatters
-load mathfilters
doctype html
html
  head
    - with '团年宴' as title
    include global/g_head
    - endwith
    - csrf_token
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    link(rel="stylesheet",href="/static/styles/pc_activity/new_ameal.css?v=20160121")
  body(style="background:#fecf4f")
    include global/g_nav
    .years_banner
      img(src="/static/imgs/pc_activity/new_ameal/newyears_bnner.jpg")
    h3.years_pot_title.pot_title1 客户,你的<span>大餐</span>来啦
    p.years_prompt 团圆最期待，开锅赢红包！快来点击喜欢的，赢全民盛宴豪华组合好礼
    .years_pot_box 点击开锅赢福利
      span#boil.years_open
        a 开锅
      mixin pot(title, text, cls, num)
        if user.is_authenticated
          a(href="javascript:void(0);")
            .years_pot_minbox(class=cls,data=num)
              h4=title
              p=text
        else
          a(href="/accounts/login/?next=/weixin_activity/new_ameal/")
            .years_pot(class=cls,data=num)
              h4=title
              p=text

      +pot("小年饭", "新年好运来", "years_pot_minbox1", 1)
      +pot("年夜饭", "团圆乐融融", "years_pot_minbox2", 2)
      +pot("拜年饭", "月满合家欢", "years_pot_minbox3", 3)
      +pot("团圆饭", "猴年第一锅", "years_pot_minbox4", 4)
    p.years_prompt 活动期间每天可来领，每天限领一次，立即查看<a>《豪华组合和好礼规则》</a>
    mixin explain(title, items, href)
      h5.years_explain_tls=title
      ul.years_explain_uls
        each item, index in items
          if usertext == item or item == 3
            li=item
              a 立即前往理财金投资页面；
          else
            li=item

    - var items1 = ["1. 新老用户均可参与，活动期间内每天均可领取，每天限领一次，理财金自动发放到相应账户并站内信通知；", "2. 理财金只能在相关活动页投体验标使用（体验标为10%年化收益，1天期限），投标时不能使用其他理财券，理财金自发放日起15日内有效；", "3. 理财金需用户手动投资，投资时系统将自动按理财金总额一次性投标完成。", "4. 理财金投资完毕后，当日开始计算利息，到期日17点回款。还款本金系统自动回收，利息收益系统自动发放到用户账户；", "5. 理财金利息收益和正常账户余额一样，可正常投资和提现。"]
    - var items2 = ["1. 红包有效期：2016年2月X日0：00-2016年2月X日23:59；","2. 所有红包为直抵红包，有使用门槛。直抵红包在投资中可直抵现金使用，详情使用方法请见我的账户-理财券红包列表查看；","3. 红包统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次，不可叠加使用，使用后无论是否有余额均失效；","4. 加息券在电脑端和手机端均可使用，一券一标永久加息。投标时选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得相应的加息；","5. 投资一个项目时，红包不可叠加使用，也不可与加息券叠加使用；","6. 使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；","7. 使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。"]
    - var items3 = ["1. 活动时间：2016年2月x日-2016年2月x日；","2. 活动期间，新老用户均可参加活动，活动期间全民盛宴和豪门盛宴福利每位用户每天限领一次，每天均可领取。","3. 红包和加息券只限投正常期限理财标获得和使用，不可用于定存宝和债转等产品，使用详情可见我的账户--理财券列表。","4. 活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑。"]
    - var usertext = "3. 理财金需用户手动投资，投资时系统将自动按理财金总额一次性投标完成。"
    +explain("理财金领取和使用规则", items1)
    +explain("红包和加息券规则", items2)
    h3.years_pot_title.pot_title2 豪门盛宴,超大豪包任意领
    p.years_prompt 5大红包全席宴，多领多得多投多赚！
    ul.years_paper
      redpacks = enumerate(redpacks)
      for idx, type in redpacks
        if idx == 2 or idx == 4
          cls = "parper_lis"
        else
          cls = ""
        if user.is_authenticated
          li(class="{{cls}} lis{{idx}}" )
            h5
              amount = type['amount']
              | {{amount|money}}红包
            a(href="javascript:void(0);",data_id='{{type.redpack_id}}') 立即领取
            span
              invest_amount = type['invest_amount']
              if invest_amount > 10000
                |单笔投资{{type.invest_amount|convert_to_10k}}可用
              else
                |单笔投资{{type.invest_amount|money}}可用
            .parper_img(class="imgs{{idx}}")
        else
          li(class="{{cls}} lis{{idx}}" )
            h5
              amount = type['amount']
              | {{amount|money}}红包
            a(href="/accounts/login/?next=/weixin_activity/new_ameal/",data_id='') 立即领取
            span
              invest_amount = type['invest_amount']
              if invest_amount > 10000
                |单笔投资{{type.invest_amount|convert_to_10k}}可用
              else
                |单笔投资{{type.invest_amount|money}}可用
            .parper_img(class="imgs{{idx}}")

    p.years_prompt 备注：活动期新老用户均可领取享用（每天每个红包限领一次，每天均可来领，红包限投三个月以上标期）
    +explain("活动规则", items3)
    .years_sao
    include global/g_footer
    .years_smkal
      .years_smkal_box
        span.years_close.close1
        h3 组合大礼包
        ul
        p 领取成功
        p 进去“我的账户”--“理财券”“体验金专区”查看
    .years_smak
      .years_smak_box
        span.years_close.close2
        h3 领取成功!
        p 进去“我的账户”--“理财券”“体验金专区”查看
  script.
      var v = new Date().getTime()
      require(['/static/js/new_ameal.js?v='+v])
