-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/stylesheets/noviceDecember.css?v=2016031001")
        - csrf_token
    body(style="background:#fff2d5")
        include global/g_nav

        #body_wrap
           .banner_1
           .banner_2 专享整月高达30%+年化收益
           #body_main
              .step_title
                 .box.box_1
                    .num 1
                    dl
                     dt 注册
                     dd 送28888元体验金
                 img(src="/static/imgs/pc_activity/noviceDecember/step_title_ico.png")
                 .box.box_2
                    .num 2
                    dl
                     dt 首次充值
                     dd 送80元红包
                 img(src="/static/imgs/pc_activity/noviceDecember/step_title_ico.png")
                 .box.box_3
                    .num 3
                    dl
                     dt 首投
                     dd 最高送220元红包
                 img(src="/static/imgs/pc_activity/noviceDecember/step_title_ico.png")
                 .box.box_4
                    .num 4
                    dl
                     dt 邀请好友
                     dd 邀请1位投资最高送100元
              .step_wrap
                .box.box_1
                  .title 1.注册
                  p 注册就送28888元体验金
                  img(src="/static/imgs/pc_activity/noviceDecember/step_img_1.png")
                .button.take_red 立即领取
                .line
                .box_wrap
                    .box.box_3
                      .title 2.首次充值
                      p 新手首次完成充值送80元红包
                      img(src="/static/imgs/pc_activity/noviceDecember/step_img_3.png")
                    .box.box_4
                      .title 3.首次投资
                      p 首次投资，最高再送220元红包
                      img(src="/static/imgs/pc_activity/noviceDecember/step_img_4.png")
                .button.take_first_red 领取红包
              .strategy_wrap
                .title_bg 新手任务攻略
                .main
                    .act_rule
                        p.text!='<span class="num">1.</span>活动期间新用户注册即送28888元体验金，专享1天10%年化收益，我出本金，收益全归你！'
                        p.text!='<span class="num">2.</span>注册后首次充值（充值金额≥100元）成功即获得80元红包。'
                        p.text!='<span class="num">3.</span>注册后首次投资满额即可获得红包奖励，规则如下（三选一）：'
                        p.text!='<span class="num"> </span>a. 1000元≤首次投资＜5000元，送20元直抵红包'
                        p.text!='<span class="num"> </span>b. 5000元≤首次投资＜10000元，送100元直抵红包'
                        p.text!='<span class="num"> </span>c. 10000元≤首次投资，送220元直抵红包'
                        p.text!=' 备注：首次投资所赠红包适用范围限投3月标(含）以上。<span class="click_rule">点击立即查看新手红包规则>></span>'
                    img.logo_img(src="/static/imgs/pc_activity/noviceDecember/strategy_img.png")
                    .rule_red
                        .title 【新手红包使用规则】
                        p.text!='<span class="num">1.</span>首次充值所赠80元红包单笔投资满5000元可直抵使用，有效期自领取日起7天内有效；'
                        p.text!='<span class="num">2.</span>首投所赠20元红包单笔投资满2500元可直抵使用、100元红包单笔投资满10000元可直抵使用、220元红包单笔投资满20000元可<br><span class="num"></span>直抵使用。有效期自领取日起15天内有效。'
              .recommend_send_red
                .title_bg 推荐投资送红包
                .main
                    .talbe
                        .title_text 邀请奖励大升级，多邀多送上不封顶！
                        img.logo_img(src="/static/imgs/pc_activity/noviceDecember/recommend_img.png")
                        ul
                            li.first
                            li.second 新用户平台首次投资
                            li 满1000元
                            li 满5000元
                            li 满10000元
                        ul.second
                            li.first 新用户奖励
                            li.second 新手首投奖励红包
                            li 20元
                            li 100元
                            li 220元
                        ul
                            li.first 老用户奖励
                            li.second 邀请人所得推荐奖励红包
                            li 50元
                            li 80元
                            li 100元
                    p.small!='备注：邀请好友所赠红包不限标期，投资时可直抵现金使用。<span class="see_red_rule">点击立即查看邀请红包规则>></span>'
                    .red_use_rule
                        .title 【邀请红包使用规则】
                        p 邀请所赠50元红包单笔投资满1000元可直抵使用、80元红包单笔投资满2000元可直抵使用、100元红包单笔投资满3000元可直抵使用。有效期自领取日起15天内有效。
              .how_recommend
                  .title 【如何邀请】
                  p 好友使用你的邀请码或邀请链接注册，并完成首投（1000元起投），即算成功邀请，你可获50元红包。<br>受邀好友首投金额越高，赠送红包金额越高，邀请每个好友最高送100元。<br>所以邀请好友多多投资吧！多邀多送，上不封顶！TA好我也好！<br>登录后，在“我的账户 > 全民淘金”可查看专属邀请码。使用手机移动端，邀请更轻松！
                  a.button(href="/accounts/invite/") 立即前往

                  .title 【投资流程】
                  img.step_img(src="/static/imgs/pc_activity/noviceDecember/how_use_img.jpg")
                  .title 【红包使用规则】
                  .red_rule
                        p.text!='<span class="num">1.</span>活动时间：2016年3月12日0:00开始，活动结束时间以网站公告为准；'
                        p.text!='<span class="num">2.</span>所有所得红包均为直抵红包，投资时可选择使用红包，直抵现金使用；'
                        p.text!='<span class="num">3.</span>红包统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次，不可叠加使用，使用后无论是否有余额均失效；'
                        p.text!='<span class="num">4.</span>首次充值所得80元红包不限标期。首次投资满额所得红包限投3月标以上；'
                        p.text!='<span class="num">5.</span>手机号为网利宝唯一账户，通过网利宝电脑端官网、手机客户端、官方微信号、部分渠道主动新注册用户均可享受活动红包福利，部<br><span class="num"></span>分合作渠道无标示新手活动的来源用户无法享受此活动奖励。'
                        p.small 网利宝对此活动享有最终解释权。
          .code_wrap
              .bg
              .main
                .img
                    img(src="/static/imgs/pc_activity/noviceDecember/code_img.jpg")
                    p 手机扫一下也许就能赚钱
          .register_wrap
              .button#zhuce 立即注册
        .title_wrap
            .title_main
                .close
                .text 您已注册过，立即去投资吧！
                .button 我知道了

        include global/g_footer
script.
    require(['/static/js/noviceDecember.js?v=2016012601'])

