-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include include/pc_screen
    - endwith
    link(rel="stylesheet", href="/static/styles/pc_activity/pc_Newgive.css?v=20151104")
  body(style="background:#fff")
    include global/g_nav
    include include/activityTopNew2
    //.ng_conban
    h3.gv_tls <span></span>数据统计 <a>截止{{today}}</a>
    ul.gv_info
      li
        p.gv_touz1 <span></span> 选择加入网利宝的已有
        h5.gv_tzh(data-number='{{site_data.p2p_register_number}}',data-type='man')
      li
        p.gv_touz2 <span></span> 小伙伴们总共投资额
        h5.gv_tzh(data-number='{{site_data.p2p_amount}}',data-type='amount')
      li.bornone
        p.gv_touz3 <span></span> 小伙伴们总共赚取了
        h5.gv_tzh(data-number='{{site_data.user_income}}',data-type='amount')
    mixin gv_title(content)
      h2.gv_tstls
        span=content
    +gv_title("全民理财")
    .gv_financing.clear
      fincont = [{"title":"短期灵活","text":"标的期限1-3个月","cls":"item1","data": p2p_one}, {"title":"中期稳健","text":"标的期限3-6个月","cls":"item2","data": p2p_two}, {"title":"长期优选","text":"标的期限6个月及以上","cls":"item3","data": p2p_three}]
      fincont_i = enumerate(fincont)
      for idx, key in fincont_i
        if idx == 2
          classname = 'min11'
        else
          classname = 'min22'
        .gv_minbox(class=classname)
          .gv_Item(class="{{key.cls}}")
            h5.Item_tle {{key.title}}
            p.Ite_tst {{key.text}}
            if idx >= 1
              .gv_taoj
          datas = enumerate(key["data"])
          for ss, p2p in datas
            a(href="/p2p/detail/{{p2p.id}}/")
              h4.gv_entle
                if p2p.category == '新手标'
                  <span></span>
                | {{p2p.name}}
            p.gv_entext
              | 合作机构: {{p2p.warrant_company}}
              | 还款方式: {{p2p.display_payback_method}}
            .gv_schedule
              percent = float(p2p.ordered_amount) / p2p.total_amount * 100
              .sch_jd
                span(style="width:{{percent | percentage}}")
              p.sch_zhi {{percent | percentage}}
            p.gv_entext
              total_amount = p2p.total_amount / 10000
              amount = p2p.total_amount - p2p.ordered_amount
              | {{total_amount}}万元/￥{{amount | money_format_int}}元 可投
            .gv_tzbanf
              span 年化
              span.gv_yers
                earning_rate = str(p2p.expected_earning_rate)
                | {{earning_rate}}
                if p2p.activity
                  | + {{p2p.activity.rule.percent_text}}%
            .gv_tztime
              span.gv_yers {{p2p.period}}
              span {{p2p.pay_method|period_unit}}
            .gv_tzbtn
              if p2p.display_status == '抢购中'
                a.tz_btn(href="/p2p/detail/{{p2p.id}}/") 立即投资
              elif p2p.display_status == '满标审核'
                a.tz_btn(href="javascript:void(0);", style="background-color:#aaaaaa") 满标审核
              else
                a.tz_btn(href="javascript:void(0);", style="background-color:#aaaaaa") 还款中
    .gv_felfare
      .gv_felbox.clear
        +gv_title("新手福利")
        dl.gv_feldls.feldls1.clear
          dt
            img(src="/static/imgs/pc_activity/newgive/fuli_1.png")
          dd
            span 新手注册送<b>10</b>元红包<br>
            span 单笔投资满<b>1,000</b>使用
        dl.gv_feldls.feldls2.clear
          dt
            img(src="/static/imgs/pc_activity/newgive/fuli_2.png")
          dd
            span 新手完成实名认证送<b>20</b>元红包 <br>
            span 单笔投资满<b>2,000</b>使用
        dl.gv_feldls.feldls3.clear
          dt
            img(src="/static/imgs/pc_activity/newgive/fuli_3.png")
          dd
            span 新手首次完成充值送<b>50</b>元红包<br>
            span 单笔投资满<b>3,000</b>使用
        dl.gv_feldls.feldls4.clear
          dt
            img(src="/static/imgs/pc_activity/newgive/fuli_4.png")
          dd
            span 新手投资理财最高送<b>500</b>元红包
        a.gv_touzbtn.clear(href="/p2p/list/", style="color:white") 立即投资

    +gv_title("关于网利宝")
    .gv_about.clear
      mixin fn_about(title, test, text, icon)
        dl.gv_abdls
          dt.about_dts(class=icon)
          dd
            h5= title
            span= test
            br
            span=text
      +fn_about('信赖', 'IDG资本投资A轮融资', '鸿利光电投资B轮融资', 'about_dts1')
      +fn_about("安全", "第三方资金托管", "阳光保险承担资金安全", "about_dts2")
      +fn_about("权威", "华尔街精英金融团队", "IT数据风控系统", "about_dts3")
      +fn_about("高收益", "30余倍活期银行收益", "100元起投", "about_dts4")
    .gv_focal
      span.btn_left#btn_left
      ul#fal_box
        li.idx
          img(src="/static/imgs/pc_activity/newgive/lub1.jpg")
        li
          img(src="/static/imgs/pc_activity/newgive/lub2.jpg")
        li
          img(src="/static/imgs/pc_activity/newgive/lub3.jpg")
        li
          img(src="/static/imgs/pc_activity/newgive/lub4.jpg")
      span.btn_right#btn_right
    .gv_explain
      .explain
        +gv_title("活动说明")
        p
          span 1.手机号为网利宝唯一账户，本活动仅限于新注册用户在此页面参与，用户首次充值、首次投资最低为100元方可获取相关福利；<br>
          span 2.活动期间注册立即获得10元红包（投资满1,000元可直减使用）<br>
          span 3.活动期间实名认证成功即获得20元红包（投资满2,000元可直减使用）；
          span 4.注册后首次充值（充值金额≥100元）成功即可获得50元红包（投资3,000元可直减使用）;<br>
          span 5.注册后首次投资满额即可获取红包奖励，规则入下;<br>
          span &nbsp;&nbsp;&nbsp;a).注册后后首次投资单笔达到5,000元以上（包含）低于20,000元，送150元组合红包，包含：<br>
          span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①50元红包，限投3月标（投资满15,000元可直减使用）<br>
          span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②100元红包，限投6月标（投资满20,000元可直减使用）<br>
          span &nbsp;&nbsp;&nbsp;b).注册后首次投资单笔达到20,000元以上（包含），包含：<br>
          span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①150元红包，限投3月标（投资满40,000元可直减使用）<br>
          span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②350元红包，限投6月标（投资满50,000元可直减使用）<br>
          span 6.红包统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次，无论是否有余额均失效;<br>
          span 7.首次单笔投资满额所赠送红包为直抵红包，二次投资满额即可直抵使用。红包有效自发放日起15天内有效;<br>
          span 8.本活动不收取任何费用，谨慎上当受骗; 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承诺;<br>
          span 9.网利宝对此活动享有最终解释权。
    include global/g_footer
  script.
    var v = new Date().getTime()
    require(["/static/js/newgive.js?v=20151020"])
