-load formatters
doctype html
html
  head
    - with '网利宝' as title
    include include/pc_acHead
    - endwith
    link(rel="stylesheet", href="/static/styles/pc_activity/pc_Newgive.css")
  body
    include global/g_nav
    .ng_conban
    h3.gv_tls <span></span>数据统计 <a>截止2015-10-21</a>
    ul.gv_info
      li
        p.gv_touz1 <span></span> 选择加入网利宝的已有
        h5 <b>796,235</b>位小伙伴
      li
        p.gv_touz2 <span></span> 小伙伴们总共投资额
        h5 <b>796,235</b>位小伙伴
      li.bornone
        p.gv_touz3 <span></span> 小伙伴们总共赚取了
        h5 <b>796,235</b>位小伙伴
    mixin gv_title(content)
      h2.gv_tstls
        span=content
    +gv_title("全民理财")
    .gv_financing.clear
      fincont = [{"title":"短期灵活","text":"标的期限1-3个月","cls":"item1","data":[{"title":"车贷保证金","text1":"本息保障：恒大担保  还款方式：先息后本","text2":"300万元/￥351,300元可投","cls":"item1"}]},{"title":"中期稳健","text":"标的期限3-6个月","cls":"item2","data":[{"title":"中小微企业贷款","text1":"本息保障：恒大担保  还款方式：按月付息到期还本","text2":"300万元/￥351,300元可投","cls":"item2"}]},{"title":"长期优选","text":"标的期限6个月及以上","cls":"item3","data":[{"title":"保障项目系列","text1":"本息保障：恒大担保  还款方式：先息后本","text2":"300万元/￥351,300元可投","cls":"item3"}]}]
      fincont_i = enumerate(fincont)
      for idx, key in fincont_i
        .gv_minbox
          .gv_Item(class="{{key.cls}}")
            h5.Item_tle {{key.title}}s
            p.Ite_tst {{key.text}}
            if idx >= 1
              .gv_taoj
          datas = enumerate(key["data"])
          for ss, type in datas
            if idx >= 1
              h4.gv_entle {{type.title}}
            else
              h4.gv_entle <span></span>{{type.title}}
            p.gv_entext {{type.text1}}
            .gv_schedule
              .sch_jd
                span
              p.sch_zhi 80%
            p.gv_entext {{type.text2}}
            .gv_tzbanf
              span 年化
              span.gv_yers 10.9%+2%
            .gv_tztime
              span.gv_yers 1
              span 个月
            .gv_tzbtn
              a.tz_btn(href="javascript:;") 立即投资
    .gv_felfare
      .gv_felbox.clear
        +gv_title("新手福利")
        dl.gv_feldls.feldls1.clear
          dt
            img(src="/static/imgs/pc_activity/newgive/xinx1.png")
          dd
            span 新手注册并实名即送<b>20</b>元红包<br>
            span ①注册  ②实名认证
        dl.gv_feldls.feldls2.clear
          dt
            img(src="/static/imgs/pc_activity/newgive/xinx2.png")
          dd
            span 注册后首次完成充值<br>
            span 即送<b>100</b>元红包
        dl.gv_feldls.feldls3.clear
          dt
            img(src="/static/imgs/pc_activity/newgive/xinx3.png")
          dd
            span 新手投资最高送<b>400</b>元红包<br>
            span 首次单笔投资≥10000元 送<b>200</b>元<br>
            span 首次单笔投资≥20000元 送<b>400</b>元<br>
        a.gv_touzbtn.clear(href="javascript:;") 立即投资

    +gv_title("关于网利宝")
    .gv_about.clear
      mixin fn_about(title, test, text, img)
        dl.gv_abdls
          dt
            img(src=img)
          dd
            h5= title
            span= test
            br
            span=text
      +fn_about('信赖', 'IDG资本投资A轮融资', '鸿利光电投资B轮融资', '/static/imgs/pc_activity/newgive/luc1.jpg')
      +fn_about("安全", "第三方资金托管", "阳光保险承担资金安全", "/static/imgs/pc_activity/newgive/luc2.jpg")
      +fn_about("权威", "华尔街精英金融团队", "IT数据风控系统", "/static/imgs/pc_activity/newgive/luc3.jpg")
      +fn_about("高收益", "30余倍活期银行收益", "100元起投", "/static/imgs/pc_activity/newgive/luc4.jpg")
    .gv_focal
      span.btn_left#btn_left
      ul#fal_box
        li.idx
          img(src="/static/imgs/pc_activity/newgive/lub1.jpg")
        li
          img(src="/static/imgs/pc_activity/newgive/lub2.jpg")
        li
          img(src="/static/imgs/pc_activity/newgive/lub3.jpg")
        li
          img(src="/static/imgs/pc_activity/newgive/lub4.jpg")
      span.btn_right#btn_right
    .gv_explain
      .explain
        +gv_title("活动说明")
        p
          span 1.手机号为网利宝唯一账户，本活动仅限于新注册用户在此页面参与，用户首次充值、首次投资最低为100元方可获取相关福利；<br>
          span 2.活动期间注册并实名认证成功即获得20元红包（投资500元可直接使用）;<br>
          span 3.注册后首次充值（充值金额≥100元）成功即可获得100元红包（投资2000元可直减使用）;<br>
          span 4.注册后首次偷袭满额即可获取红包奖励，规则入下（奖励二选一）;<br>
          span     a).注册后首次投资单笔达到10,000元以上（包含）即获取200元红包（二次投资20000元即可直减使用）;<br>
          span     b).注册后首次投资单笔达到20,000元以上（包含）即获取400元红包（二次投资4 0000元即可直减使用）;<br>
          span 5.红包统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次，无论是否有余额均失效;<br>
          span 6.首次单笔投资满额所赠送红包为直抵红包，二次投资满额即可直抵使用。红包有效自发放日起15天内有效;<br>
          span 7.本活动不收取任何费用，谨慎上当受骗; 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承诺;<br>
          span 8.网利宝对此活动享有最终解释权。
    include global/g_footer

  script.
    require(["/static/js/newgive.js?v=20151019"])
