-load formatters
-load widget_tweaks

doctype html
html
  - with '登录' as title
  include include/head
  - endwith
  body
    include include/header
    include include/navigation
    .full-container-login
      .container-login
        .login-left-div
          form#login-form.login-form(method='post', action='/accounts/login/?next={{next | urlencode}}')
            fieldset
              #{ form.non_field_errors }
            - csrf_token
            .form-login-title
              img.user-icon(src='/static/images/user.png')
              label.font-l 用户登录
            .form-row
              - render_field form.identifier class+="input-large" placeholder="请输入手机号" title="请输入手机号"
            #{ form.username.errors }
            #{ form.email.errors }
            .form-row
              - render_field form.password class+="input-large" placeholder="请输入密码" title="请输入密码"

            #{ form.password.errors }
            .form-row
              - render_field form.captcha class+="captcha" placeholder="请输入答案" title="请输入答案"
              button.captcha-refresh(type="button") 刷新
            #{ form.captcha.errors }
            .form-row.form-bottom-bar
              button.span8.button-red.button-middle(type='submit') 登 录
              .span4-omega
                a(href='{% url "password_reset" %}') 忘记密码？
                .space-vertical-s
        .login-right-div
          p 还不是会员？
            a#register-now(href='/accounts/register/?next={{next | urlencode}}') 现在就注册>>
          p 注册后可以保存专属于您的理财方案
          p 收藏您喜欢的产品

          .slogan-div
            p.slogan 网利宝 收益好
            p.hot-line 在线咨询 <span>400-8588-066<span>

    -with 1 as no_margin
    include include/footer
    -endwith

    script.
      require(["/static/js/login.js"])

    include include/tracking