-load formatters
-load widget_tweaks

doctype html
html
  - with '注册' as title
  include include/head
  - endwith
  body
    include include/header
    include include/navigation
    .full-container-login
      .container-login
        .login-left-div
          form#register-form.login-form(method='post', action='/accounts/register/?next={{next}}')
            - csrf_token
            .form-login-title
              img.user-icon(src='/static/images/user.png')
              label.font-l 用户注册
            .form-row
              .span7
                - render_field form.identifier class+="input-large" placeholder="* 请输入手机号码" title="* 请输入邮箱或手机"
              .span5-omega
                button.ispan4-omega#button-get-validate-code.button-orange.button-large(type='button') 获取验证码
              if form.identifier.errors
                label.form-row-error.error
                  for error in form.identifier.errors
                    #{ error }
            .form-row.voice.hidden
              .span12-omega
                没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/" class="voice-validate">语音验证</a>
            #validate-code-container.form-row
              - render_field form.validate_code class+="ispan6 clear-margin" placeholder="* 请输入计算结果" autocomplete='off' title="* 请输入计算结果"
              if form.validate_code.errors
                label.form-row-error.error
                  for error in form.validate_code.errors
                    #{ error }
            .form-row
              - render_field form.password class+="input-large" placeholder="* 请输入密码" autocomplete='off' title="* 请输入密码" maxlength="20"
              .password-strength-container
                span.password-strength-1 低
                span.password-strength-2 中
                span.password-strength-3 高
              if form.password.errors
                label.form-row-error.error
                  for error in form.password.errors
                    #{ error }
            .form-row
              input.input-large(type="password", name="password2", placeholder="* 请确认密码", autocomplete='off', title="* 请确认密码")
                .form-row-error
            .form-row
              input(type="text", name="invitecode", placeholder="邀请码（选填）", autocomplete='off', title="邀请码")
              if form.invitecode.errors
                label.form-row-error.error
                  for error in form.invitecode.errors
                    #{ error }
            .form-row
                input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
                input#id_captcha_1.captcha(type="text", name="captcha_1", autocomplete="off", placeholder="请输入计算结果", maxlength="4")
                img.captcha.captcha-img(alt="captcha", src="")
                button.captcha-refresh(type="button" style='color:rgb(16, 93, 195)') 刷新
                if form.captcha_1.errors
                    label.form-row-error.error
                      for error in form.captcha_1.errors
                        #{ error }
            .form-row.form-bottom-bar
              button#register_submit.button-red.button-middle.span12(type='button') 注 册
              .agreement
                label(for="agreement")
                input(type="checkbox", name="agreement", checked="checked", id="agreement", data-value="agree")
                | 我同意<a href="/agreement/" target="_blank">《网利宝注册协议》</a>
                .form-row-error
        .register-right-div
          p 已有网利宝账号&nbsp;
            a#register-now(href='/accounts/login/?next={{next}}') 直接登录>>
          .slogan-div
            p.slogan 网利宝 收益好
            p.hot-line 在线咨询 <span>400-8588-066<span>


    - with 1 as no_margin
    include include/footer
    - endwith

    script.
      require(["/static/js/register.js"])

    include include/tracking
