meta(charset="utf-8")
meta(name="format-detection" content="telephone=no,email=no")
meta(content="telephone=no,email=no" ,name="format-detection")
meta(content="yes" ,name="apple-mobile-web-app-capable")
script.
  (function(){var b=navigator.userAgent;ipad=b.match(/(iPad).*OS\s([\d_]+)/)?true:false;iphone=!ipad&&b.match(/(iPhone\sOS)\s([\d_]+)/)?true:false;uc=navigator.userAgent.indexOf("UCBrowser")>-1?true:false;ios=ipad||iphone;var d=1,a=1,c;if(ios){if(window.devicePixelRatio>=2){d*=0.5;a*=2}}else{if(uc){if(window.devicePixelRatio>=2){d*=0.5;a*=2}}}c='<meta name="viewport" content="initial-scale='+d+", maximum-scale="+d+", minimum-scale="+d+', width=device-width, user-scalable=no" />';document.write(c);document.documentElement.style.fontSize=20*a+"px"})();
link(href="/static/styles/mobile_activity/app.css?v=1.0", rel="stylesheet")
- csrf_token