mixin sidebar-item(name, link, target, mark, sty, last)
    unless target
        target = '_self'
    unless mark
        mark = ''
    unless sty
        sty = ''
    unless last
        last = ''
    if activeItem == name or activeSubItem == name
        if mark == '1'
            li.sidebar-item-title.activeA
                a(href=link, target=target)=name
        else
            li.sidebar-item.active
                a(href=link, target=target)
                    em(class=sty)
                    if last == 'last'
                        label(class='last')=name
                    else
                        if last == 'msg'
                            label=name
                            span 18
                        else
                            label=name
    else
        if mark == '1'
            li.sidebar-item-title
                a(href=link, target=target)=name
        else
            li.sidebar-item
                a(href=link, target=target)
                    em(class=sty)
                    if last == 'last'
                        label(class='last')=name
                    else
                        if last == 'msg'
                            label=name
                            span 18
                        else
                            label=name
ul
    +sidebar-item('账户总览', '/accounts/home/', '_self', '1', '0')
.box
    .box-title 资金管理
    ul.sidebar
        +sidebar-item('充值', '/pay/banks/', '_self', '0', 'icon1')
        +sidebar-item('提现', '/pay/withdraw/', '_self', '0', 'icon2')
        +sidebar-item('银行卡管理', '/accounts/bankcard/', '_self', '0', 'icon3', 'last')
.box
    .box-title 投资管理
    ul.sidebar
        - var classes = ['sidebar-item']
        if activeItem == '交易记录' or activeItem == '货基交易记录'
            classes = ['sidebar-item', 'active']
        li(class=classes)#sidebar-second
            +sidebar-item('交易记录', '/accounts/transaction/p2p/', '_self', '0', 'icon4')
        - var didplay = 'display:none'
        if activeItem == '交易记录' or activeItem == '货基交易记录'
            display = 'display:block'
            ul.sidebar-secondary(style=display)
                +sidebar-item('理财交易记录', '/accounts/transaction/p2p/')
                +sidebar-item('货基交易记录', '/accounts/transaction/fund/')
        +sidebar-item('自动投标', '/accounts/auto_tender/', '_self', '0', 'icon5', 'last')
.box
    .box-title 活动奖励
    ul.sidebar
        +sidebar-item('理财券', '/accounts/coupon/unused/', '_self', '0', 'icon6')
        +sidebar-item('全民淘金', '/accounts/invite/', '_self', '0', 'icon7')
        +sidebar-item('激活迅雷会员', 'http://act.vip.xunlei.com/vip/2014/xlhyk/', '_blank', '0', 'icon8', 'last')
.box
    .box-title 会员信息
    ul.sidebar
        +sidebar-item('实名认证', '/accounts/id_verify/', '_self', '0', 'icon9')
        +sidebar-item('密码管理', '/accounts/setting/', '_self', '0', 'icon10')
        +sidebar-item('站内信', '/accounts/message/', '_self', '0', 'icon11', 'msg')
        +sidebar-item('收货地址', '/accounts/address/', '_self', '0', 'icon12', 'last')
                       
