-load formatters
-load mathfilters

.i-mod-wrap.g-small-nav-warp

  .g-small-nav
    .g-samll-start
      .samll-nav-hotline 客服热线 ： 4008-588-066

      .samll-nav-wechat.samll-nav-animate
        span 关注有惊喜
        span.icon-weixin-version2 
        .samll-wechat-hover
          .wechat-hover-body
            .wechat-hover-san
            img(src='/static/imgs/pc/nav/qcode_gwsb.jpg')
            .wechat-hover-dec 关注网利宝微信

      .samll-nav-app.samll-nav-animate
        span 网利宝APP
        span.icon-app
        .samll-wechat-hover
          .wechat-hover-body
            .wechat-hover-san
            img(src='/static/imgs/pc/nav/app_download_new.jpg')
            .wechat-hover-dec 下载网利宝APP

    .g-samll-end
      //if user.is_authenticated
      //  if user.wanglibaouserprofile.utype == '3'
      //    a(href='javascript:void(0)')#investment.samll-nav-guide 企业理财
      //else
      //  a(href='javascript:void(0)')#investment.samll-nav-guide 企业理财
      //a(href='http://lianmeng.wanglibao.com/', target='_blank')#investment.samll-nav-guide 网利联盟
      a(href='/data_cube/',target="_blank").samll-nav-guide 平台数据
      a(href='/pc_guide/').samll-nav-guide 新手指引
      a(href='/help/').samll-nav-guide 帮助中心
      if user.is_authenticated
        a(href='/accounts/home/').samll-nav-user.checkLoginStatus {{user | display_name}}
        a(href='/accounts/logout?next=/').samll-nav-logout 退出
      else
        a(href='/accounts/login/').samll-nav-user.samll-user-red 登录
        a(href='/accounts/register/').samll-nav-logout 免费注册




.g-nav-warp
  .g-nav.g-year-layout
    a(href="/").g-logo-box
      img(src="/static/imgs/pc/logo/logo_6_15_79.jpg", alt='网利宝', class='logo_l')
      img(src="/static/imgs/pc/logo/logo_6_15_59.jpg", alt='网利宝', class='logo_s')
    .g-user-warp
      .g-user
        if activeItem == "我的账户"
          myacount = 'highlight'
        a(href="/accounts/home/", class='{{myacount}}').user-nav
          if user.is_authenticated
            i.user-icon-img-active
          else
            i.user-icon-img
          span.user-text 我的账户
          i.icon.iconfont.icon-down-new
        ul.g-nav-user-nav#minNavs
          mixin liItem(url, text)
            li
              a(href=url)=text
          +liItem('/pay/banks/', '我要充值')
          +liItem('/pay/withdraw/', '我要提现')
          +liItem('/accounts/auto_tender/', '自动投标')
          +liItem('/accounts/transaction/p2p/', '交易记录')

    .g-nav-box
      mixin nav-item(className, name, link, smallNav, news_tmp)
        if smallNav == 'list'
            link = 'javascript:void(0)'
        if activeItem == name
          .g-nav-list(class=className)
            a.highlight(href=link, class='nav-a')= name
              if news_tmp
                img(src='/static/imgs/pc/nav/new_gif.gif').nav-news
              if smallNav == 'list'
                  i.icon.iconfont.icon-down-new
            if smallNav == 'list'
              ul.g-nav-user-nav.list-nav-hover
                mixin smallNav(url, text)
                  li
                    a(href=url)=text
                +smallNav('/ylb/monthly.php', '月利宝')
                +smallNav('/p2p/list/', '散标')
                +smallNav('/ylb/exchange.php', '转让标')

        else
            .g-nav-list(class=className)
              a(href=link, class='nav-a')= name
                if news_tmp
                  img(src='/static/imgs/pc/nav/new_gif.gif').nav-news
                if smallNav == 'list'
                  i.icon.iconfont.icon-down-new
              if smallNav == 'list'

                ul.g-nav-user-nav.list-nav-hover
                  mixin smallNav(url, text)
                    li
                      a(href=url)=text
                  +smallNav('/ylb/monthly.php', '月利宝')
                  +smallNav('/p2p/list/', '散标')
                  +smallNav('/ylb/exchange.php', '转让标')

      +nav-item('nav-index', '首页', '/')
      +nav-item('nav-p2p', '理财专区', '', 'list')
      +nav-item('nav-dai', '贷款专区', '/finance/')
      +nav-item('nav-dai', '风险控制', '/security')
      +nav-item('nav-security', '关于我们', '/about/')


  .g-nav-multicolour-line
